@(user: models.user.User, conn: models.engine.ConnectionSettings, title: String, isNew: Boolean, errors: Seq[FormError] = Nil)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
) @layout.simple(user, "Edit " + title, debug = false) {
  @components.formErrors(errors)
  <form class="col s12" method="post" action="@routes.ConnectionSettingsController.save(conn.id)">
    <div class="card">
      <div class="card-content">
        <span class="card-title">@title</span>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="form-name" name="name" type="text" class="validate" value="@conn.name" />
            <label for="form-name">Connection Name</label>
          </div>

          <div class="input-field col s12 m6">
            <select id="form-engine" name="engine">
              @models.engine.DatabaseEngine.all.map { e =>
                <option value="@e.id" @if(e == conn.engine) { selected }>@e.name</option>
              }
            </select>
            <label for="form-engine">Database Engine</label>
          </div>

          <div class="input-field col s12">
            <input id="form-url" name="url" type="text" class="validate" value="@conn.url" />
            <label for="form-url">Jdbc Url</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="form-username" name="username" type="text" class="validate" value="@conn.username" />
            <label for="form-username">Username</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="form-password" name="password" type="password" class="validate" value="" />
            <label for="form-password">Password</label>
          </div>
        </div>
      </div>
      <div class="card-action">
        <button class="btn waves-effect waves-light" type="submit">@if(isNew) { Create } else { Save }</button>
        @if((!isNew) && conn.id != services.database.ConnectionSettingsService.masterId) {
          <button class="right btn waves-effect waves-light btn-flat" onclick="onDelete();return false;">Delete</button>
        }
      </div>
    </div>
  </form>
  <script>
    function onDelete() {
      var confirmed = confirm('Are you certain you\'d like to delete this connection?');
      if(confirmed) {
        window.location = '@routes.ConnectionSettingsController.delete(conn.id) ';
      }
      return false;
    }

    $("#form-engine").material_select();
  </script>
}
