@(connections: Seq[models.engine.ConnectionSettings])
<ul class="collapsible popout connection-list" data-collapsible="expandable">
@connections.map { c =>
  <li>
    <div class="collapsible-header">
      <em class="right">@c.engine.name</em>
      <i class="fa @models.template.Icons.database"></i>
      @c.name
    </div>
    <div class="collapsible-body">
      <p>
        <em style="display: block; margin-bottom: 10px;">@c.url</em><br>
        <a href="@routes.QueryController.main(c.id)" class="waves-effect waves-light btn">Query</a>
        <a href="@routes.ConnectionController.editForm(c.id)" class="waves-effect waves-light btn">Settings</a>
      </p>
    </div>
  </li>
}
</ul>
