@(connections: Seq[models.engine.ConnectionSettings])
<ul class="collapsible popout connection-list" data-collapsible="expandable">
@connections.map { c =>
  <li>
    <div class="collapsible-header">
      <em class="right">@c.engine.name</em>
      <i class="fa @models.template.Icons.database"></i>
      @c.name
    </div>
    <div class="collapsible-body">
      <div style="padding: 25px;">
        <div>@c.description</div>
        <em style="display: block;">@c.url</em>
        <a href="@routes.QueryController.main(c.id)" class="waves-effect waves-light btn" style="margin: 10px 0;">Query</a>
        @if(c.id != services.engine.ConnectionSettingsService.masterId) {
          <a href="@routes.ConnectionSettingsController.editForm(c.id)" class="waves-effect waves-light btn">Settings</a>
        }
      </div>
    </div>
  </li>
}
</ul>
