@(user: models.user.User, connections: Seq[models.connection.ConnectionSettings])(implicit messages: Messages)
<ul class="collapsible connection-list" data-collapsible="expandable">
@connections.map { c =>
  <li>
    <div class="collapsible-header">
      <em class="right">@c.engine.name</em>
      <i class="theme-text fa @models.template.Icons.database"></i>
      @c.name
    </div>
    <div class="collapsible-body">
      <div style="padding : 25px ;">
        <div>@c.description</div>
        <em style="display : block ;">@if(c.urlOverride.isDefined) {
          @c.url
        } else {
          @if(c.description.nonEmpty) {
            @c.description
          } else {
            @c.host@c.port.map(":" + _).getOrElse("")/@c.dbName
          }
        }</em>
        <a href="@controllers.routes.QueryController.main(c.id)" class="waves-effect waves-light btn theme" style="margin: 10px 0;">
          <i class="fa @models.template.Icons.adHocQuery"></i>
          @messages("query.title")
        </a>
        <a href="@controllers.graphql.routes.ConnectionGraphQLController.graphql(c.id)" class="waves-effect waves-light btn theme" style="margin: 10px 0;">
          <i class="fa @models.template.Icons.graphQL"></i>
          @messages("graphql.title")
        </a>
        @defining(services.connection.ConnectionSettingsService.canEdit(user, c)) { canEdit =>
          @if(canEdit._1) {
            <a title="@canEdit._2" href="@controllers.routes.ConnectionSettingsController.editForm(c.id)" class="waves-effect waves-light btn theme">
              <i class="fa @models.template.Icons.settings"></i>
              @messages("general.edit")
            </a>
          } else {
            <!-- Cannot edit. @canEdit._2 -->
          }
        }
      </div>
    </div>
  </li>
}
</ul>
