@(key: String, v: models.user.Permission, icon: String, title: String)(implicit messages: Messages)
<div class="input-field col s12 m6">
  <div class="card-panel option-panel">
    <h6><i class="fa @{icon}"></i> @title</h6>
    <p>
      @if(v == models.user.Permission.User) {
        <input id="form-@key-user" name="@key" type="radio" value="user" checked="checked" />
      } else {
        <input id="form-@key-user" name="@key" type="radio" value="user" />
      }
      <label for="form-@key-user">@messages("permissions.registered.users")</label>
    </p>
    <p>
      @if(v == models.user.Permission.Administrator) {
        <input id="form-@key-admin" name="@key" type="radio" value="admin" checked="checked" />
      } else {
        <input id="form-@key-admin" name="@key" type="radio" value="admin" />
      }
      <label for="form-@key-admin">@messages("permissions.administrators")</label>
    </p>
    <p>
      @if(v == models.user.Permission.Private) {
        <input id="form-@key-private" name="@key" type="radio" value="private" checked="checked" />
      } else {
        <input id="form-@key-private" name="@key" type="radio" value="private" />
      }
      <label for="form-@key-private">@messages("permissions.only.myself")</label>
    </p>
    <div class="clear" style="padding-bottom: 20px;"></div>
  </div>
</div>
