@(edition: String, action: Call, priceUsd: Int)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.simple(title = messages("purchase.title", edition), section = "versions", scripts = Seq("https://checkout.stripe.com/checkout.js")) {
  <script>
      var handler = StripeCheckout.configure({
        key: '@services.payment.StripePaymentService.jsKey',
        locale: "auto",
        name: '@utils.Config.projectName',
        description: '@edition Edition License',
        image: "@controllers.routes.Assets.versioned("images/payment-logo.png").url",
        amount: @{priceUsd * 100},
        token: function(token) {
          $('#stripe-token-input').val(token.id);
          $('#stripe-token-type-input').val(token.type);
          $('form').submit();
        }
      });

      $(function() {
        $('#purchase-button').click(function(e) {
          e.preventDefault();

          var name = $('#input-name').val().trim();
          var email = $('#input-email').val().trim();

          if(name.length === 0) {
            $('#name-error-content').text('Name is required.');
            $('#email-error-content').text('');
          } else if(email.length === 0) {
            $('#name-error-content').text('');
            $('#email-error-content').text('Email is required.');
          } else {
            $('#name-error-content').text('');
            $('#email-error-content').text('');
            handler.open({});
          }
        });
      });
  </script>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <form action="@action" method="post">
          <input id="stripe-token-input" type="hidden" name="stripeToken" value="" />
          <input id="stripe-token-type-input" type="hidden" name="stripeTokenType" value="" />
          <div class="card-content">
            <span class="card-title">@messages("purchase.title", edition)</span>
            <div class="row" style="margin-top: 20px;">
              <div class="col s12">
                <p>@utils.Config.projectName @edition Edition costs $@priceUsd.</p>
                <p>You can pay through Stripe.</p>
              </div>
              <div class="col s12">
                <p>@messages("license.form.prompt")</p>
              </div>
              <div class="input-field col s12">
                <input id="input-name" type="text" class="form-control validate" name="name" value="" />
                <label for="input-name">@messages("th.name")</label>
                <div id="name-error-content"></div>
              </div>
              <div class="input-field col s12">
                <input id="input-email" type="email" class="form-control validate" name="email" value="" />
                <label for="input-email">@messages("th.email")</label>
                <div id="email-error-content"></div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <button id="purchase-button" class="right btn theme waves-effect waves-light">@messages("purchase.title", edition)</button>
            <div style="clear: both;"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
}

