@(feedbacks: Seq[services.FeedbackService.Feedback])(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.simple("Database Flow Feedback", isAdmin = true) {
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Database Flow Feedback</span>
          @if(feedbacks.isEmpty) {
            <p>No available feedback.</p>
          } else {
            <table class="bordered highlight">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Version</th>
                  <th>Occurred</th>
                  <th style="text-align: right;">Actions</th>
                </tr>
              </thead>
              <tbody>
                @feedbacks.map { fb =>
                  <tr>
                    <td>@fb.id</td>
                    <td>@fb.from</td>
                    <td>@fb.version</td>
                    <td>@fb.occurred</td>
                    <td style="text-align: right;">
                      <a href="@controllers.admin.routes.FeedbackController.remove(fb.id)" title="Remove Feedback" onclick="return confirm('You sure?');">
                        <i class="fa fa-remove"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5">
                      <pre>@fb.content</pre>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </div>
    </div>
  </div>

  <script>
    function test() {
      console.log('test...')
    }
  </script>
}
