@(username: String)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.simple("Database Flow Admin", isAdmin = true) {
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Database Flow Administration</span>
          <p>Welcome back, @username</p>

          <ul>
          <li><a class="theme-text" href="@controllers.admin.routes.LicenseController.list()">Manage Licenses</a></li>
          <li><a class="theme-text" href="@controllers.admin.routes.FeedbackController.list()">View Feedback</a></li>
          <li><a class="theme-text" href="@controllers.admin.routes.MetricsController.view()">Show Server Metrics</a></li>
          <li><a class="theme-text" href="@controllers.admin.routes.LogController.list()">View Server Logs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
}
