@(json: String)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.simple(utils.Config.projectName + " Metrics", "admin", isAdmin = true) {
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">@utils.Config.projectName Metrics</span>
          <pre class="z-depth-1" style="padding: 15px;">@json</pre>
        </div>
      </div>
    </div>
  </div>
</div>
}
