@()

<div id="panel-77777777-7777-7777-7777-777777777777" class="workspace-panel initially-hidden">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <i class="right theme-text fa fa-close"></i>
          <div class="card-title">
            <i class="title-icon fa @models.template.Icons.help"></i>
            <span class="title">Help</span>
          </div>
          <div class="content">
            <div>Help!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
