@(user: models.user.User, debug: Boolean, dbName: String, initialQuery: java.util.UUID)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@views.html.layout.materialize(utils.Config.projectName, debug = debug) {
  @sidenav(user, dbName)

  <main class="indent">
    <div class="tab-container z-depth-1">
      <ul id="query-tabs">
      </ul>
    </div>

    <div id="workspace">

    </div>
  </main>

  @if(debug) {
    <script src="@routes.Assets.versioned("lib/ace/ace.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("lib/ace/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("lib/ace/mode-sql.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("client-fastopt.js")" type="text/javascript"></script>
  } else {
    <script src="@routes.Assets.versioned("lib/ace/min/ace-concat.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("client-opt.js")" type="text/javascript"></script>
  }

  <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.min.js")"></script>
}
