@(user: models.user.User, debug: Boolean, connectionId: java.util.UUID, dbName: String, txSupported: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@views.html.layout.materialize(
  user = Some(user),
  title = dbName + " - " + utils.Config.projectName,
  scripts = Seq(
    routes.Assets.versioned("lib/momentjs/min/moment.min.js").url,
    routes.Assets.versioned("lib/mousetrap/mousetrap.min.js").url
  ),
  debug = debug
) {
  @views.html.layout.themeStyles(user.preferences.theme)
  @views.html.query.navbar(Some(user), dbName, txSupported)

  <main class="indent">
    <div id="tx-panel" class="initially-hidden">
      <em id="tx-status-msg">@messages("query.tx.none")</em>
      <a href="commit" class="theme-text" id="commit-button"><i class="fa @models.template.Icons.commitTx"></i> @messages("query.tx.commit")</a>
      <a href="rollback" class="theme-text" id="rollback-button"><i class="fa @models.template.Icons.rollbackTx"></i> @messages("query.tx.rollback")</a>
    </div>

    <div class="tab-container z-depth-1">
      <ul id="query-tabs" class="tabs">
        <li id="tab-loading" class="tab col s3">
          <a href="#loading-panel"><i class="fa @models.template.Icons.database"></i> @messages("query.loading", dbName)</a>
        </li>
      </ul>
    </div>

    <div id="workspace">
      <div id="loading-panel">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span id="loading-content" class="card-title">
                  @messages("query.loading", dbName)
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    @views.html.modal.confirmModal()
    @views.html.modal.reconnectModal()
    @views.html.modal.saveModal()
    @views.html.modal.exportModal(connectionId)
    @views.html.modal.planNodeModal()
  </main>

  @if(debug) {
    <script src="@controllers.routes.Assets.versioned("lib/ace/ace.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.routes.Assets.versioned("lib/ace/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.routes.Assets.versioned("lib/ace/mode-sql.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.routes.HomeController.strings()" type="text/javascript"></script>
    <script src="@controllers.routes.Assets.versioned("client-fastopt.js")" type="text/javascript"></script>
  } else {
    <script src="@controllers.routes.Assets.versioned("lib/ace/min/ace-concat.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@controllers.routes.HomeController.strings()" type="text/javascript"></script>
    <script src="@controllers.routes.Assets.versioned("client-opt.js")" type="text/javascript"></script>
  }

  <script>
    window.dbf = new DatabaseFlow();
  </script>
}
