@()
<ul class="collapsible" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">redeem</i>
      Saved Queries
    </div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">toc</i>
      Tables
    </div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">label_outline</i>
      User Functions
    </div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">input</i>
      Stored Procedures
    </div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
