@(user: models.user.User, dbName: String)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
<header>
  <ul id="dropdown-user" class="dropdown-content">
    <li><a href="http://databaseflow.com">About</a></li>
    @if(user.isGuest) {
      <li><a href="">Sign Up</a></li>
    } else {
      <li><a href="">Profile</a></li>
      <li><a href="">Sign Out</a></li>
    }
  </ul>

  <div class="nb-container navbar-fixed">
    <nav id="topnav" class="@user.preferences.theme lighten-2">
      <div class="nav-wrapper">
        <a href="@routes.HomeController.index()" class="brand-logo"><i class="fa @models.template.Icons.database"></i> @dbName</a>
        <a href="#" data-activates="main-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-small-only">
          <li><a class="dropdown-button" href="#" data-activates="dropdown-user">
            @user.username.getOrElse("Guest") <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdown right"></i>
          </a></li>
        </ul>

        @views.html.query.sidenav()
      </div>
    </nav>
  </div>
</header>
