@(user: Option[models.user.User], dbName: String, txSupported: Boolean)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
<header>
  @views.html.components.userDropdown(user)

  <div class="nb-container navbar-fixed">
    <nav id="topnav" class="theme">
      <div class="nav-wrapper">
        <a href="@routes.HomeController.home()" class="brand-logo"><i class="fa @models.template.Icons.database"></i> @dbName</a>
        <a href="#" data-activates="main-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-small-only">
          <li><a class="dropdown-button" href="#" data-activates="dropdown-user">
            @user.flatMap(_.username).getOrElse("Guest") <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdownToggle right"></i>
          </a></li>
        </ul>

        @views.html.query.sidenav(txSupported)
      </div>
    </nav>
  </div>
</header>
