@(txSupported: Boolean)
@topLevelLink(id: String, icon: String, title: String, href: String = "#") = {<li><a id="@id" class="top-nav-link waves-effect" href="@href">
  <i class="fa @icon menu-icon theme-text"></i> @title
</a><li>}
@groupToggle(id: String, name: String) = {<li id="@id-list-toggle" class="bold list-toggle">
  <a class="collapsible-header waves-effect" href="#list-@id">
    <i class="fa @models.template.Icons.sectionClosed theme-text"></i>
    <i class="fa @models.template.Icons.sectionOpen theme-text"></i>
    <i data-key="@id" title="Show @name" class="show-list-link fa @models.template.Icons.sectionDetails"></i>
    @name
  </a>
  <div class="collapsible-body">
    <ul id="@id-list" class="submenu">
      <li class="black-text"><em>Loading...</em></li>
    </ul>
  </div>
</li>}

<ul id="main-menu" class="side-nav fixed">
  <li class="search">
    <div class="search-wrapper card">
      <input id="search" placeholder="Search" autocomplete="off" /><i class="fa @models.template.Icons.search"></i>
    </div>
  </li>
  @if(txSupported) {
    @topLevelLink("begin-tx-link", models.template.Icons.beginTx, "Begin Transaction")
  }
  @topLevelLink("new-query-link", models.template.Icons.newQuery, "New Query")
  @topLevelLink("sidenav-history-link", models.template.Icons.history, "Query History", "#history")
  @topLevelLink("sidenav-refresh-link", models.template.Icons.refresh, "Refresh Schema")
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
      @groupToggle("saved-query", "Saved Queries")
      @groupToggle("table", "Tables")
      @groupToggle("view", "Views")
      @groupToggle("procedure", "Stored Procedures")
    </ul>
  </li>
  @topLevelLink("sidenav-help-link", models.template.Icons.help, "Help", "#help")
  @topLevelLink("sidenav-feedback-link", models.template.Icons.feedback, "Feedback", "#feedback")
  @topLevelLink("sidenav-about-link", models.template.Icons.about, "About " + utils.Config.projectName, "https://databaseflow.com")
</ul>
