@(txSupported: Boolean)(implicit messages: Messages)
@topLevelLink(id: String, icon: String, title: String, href: String = "#") = {<li><a id="@id" class="top-nav-link waves-effect" href="@href">
  <i class="fa @icon menu-icon theme-text"></i> @title
</a><li>}
@groupToggle(id: String, name: String) = {<li id="@id-list-toggle" class="bold list-toggle">
  <a class="collapsible-header waves-effect" href="#list-@id">
    <i class="fa @models.template.Icons.sectionClosed theme-text"></i>
    <i class="fa @models.template.Icons.sectionOpen theme-text"></i>
    <i data-key="@id" title="Show @name" class="show-list-link fa @models.template.Icons.sectionDetails"></i>
    @name
  </a>
  <div class="collapsible-body">
    <ul id="@id-list" class="submenu">
      <li class="black-text"><em>@messages("query.sidenav.loading")</em></li>
    </ul>
  </div>
</li>}

<ul id="main-menu" class="side-nav fixed">
  <li class="search">
    <div class="search-wrapper card">
      <input id="search" placeholder="@messages("query.search")" autocomplete="off" /><i class="fa @models.template.Icons.search"></i>
    </div>
  </li>
  @if(txSupported) {
    @topLevelLink("begin-tx-link", models.template.Icons.beginTx, messages("query.tx.begin"))
  }
  @topLevelLink("new-query-link", models.template.Icons.newQuery, messages("query.sidenav.new"))
  @topLevelLink("sidenav-history-link", models.template.Icons.history, messages("query.sidenav.history"), "#history")
  @topLevelLink("sidenav-refresh-link", models.template.Icons.refresh, messages("query.sidenav.refresh"))
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
      @groupToggle("saved-query", messages("query.sidenav.saved.queries"))
      @groupToggle("table", messages("query.sidenav.tables"))
      @groupToggle("view", messages("query.sidenav.views"))
      @groupToggle("procedure", messages("query.sidenav.procedures"))
    </ul>
  </li>
  @topLevelLink("sidenav-help-link", models.template.Icons.help, messages("query.sidenav.help"), "#help")
  @topLevelLink("sidenav-feedback-link", models.template.Icons.feedback, messages("query.sidenav.feedback"), "#feedback")
  @topLevelLink("sidenav-about-link", models.template.Icons.about, messages("query.sidenav.about", utils.Config.projectName), utils.Config.projectUrl)
</ul>
