@()<ul id="main-menu" class="side-nav fixed">
  <li class="search">
    <div class="search-wrapper card">
      <input id="search" placeholder="Search" autocomplete="off" /><i class="fa @models.template.Icons.search"></i>
    </div>
  </li>
  <li>
    <a id="new-query-link" class="top-nav-link waves-effect" href="#">
      <i class="fa @models.template.Icons.newQuery menu-icon"></i> New Query
    </a>
  </li>
  <li>
    <a id="sidenav-history-link" class="top-nav-link waves-effect" href="#history">
      <i class="fa @models.template.Icons.history menu-icon"></i> Query History
    </a>
  </li>
  <li>
    <a id="sidenav-refresh-link" class="top-nav-link waves-effect" href="#">
      <i class="fa @models.template.Icons.refresh menu-icon"></i> Refresh Schema
    </a>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
      <li id="saved-query-list-toggle" class="bold list-toggle">
        <a class="collapsible-header waves-effect">
          <i class="fa @models.template.Icons.sectionClosed"></i>
          <i class="fa @models.template.Icons.sectionOpen"></i>
          <i data-key="saved-query" title="Show Saved Query List" class="show-list-link fa @models.template.Icons.sectionDetails"></i>
          Saved Queries
        </a>
        <div class="collapsible-body">
          <ul id="saved-query-list" class="submenu">
            <li class="black-text"><em>Loading...</em></li>
          </ul>
        </div>
      </li>
      <li id="table-list-toggle" class="bold list-toggle">
        <a class="collapsible-header waves-effect">
          <i class="fa @models.template.Icons.sectionClosed"></i>
          <i class="fa @models.template.Icons.sectionOpen"></i>
          <i data-key="table" title="Show Table List" class="show-list-link fa @models.template.Icons.sectionDetails"></i>
          Tables
        </a>
        <div class="collapsible-body">
          <ul id="table-list" class="submenu">
            <li class="black-text"><em>Loading...</em></li>
          </ul>
        </div>
      </li>
      <li id="view-list-toggle" class="bold list-toggle">
        <a class="collapsible-header waves-effect">
          <i class="fa @models.template.Icons.sectionClosed"></i>
          <i class="fa @models.template.Icons.sectionOpen"></i>
          <i data-key="view" title="Show View List" class="show-list-link fa @models.template.Icons.sectionDetails"></i>
          Views
        </a>
        <div class="collapsible-body">
          <ul id="view-list" class="submenu">
            <li class="black-text"><em>Loading...</em></li>
          </ul>
        </div>
      </li>
      <li id="procedure-list-toggle" class="bold list-toggle">
        <a class="collapsible-header waves-effect">
          <i class="fa @models.template.Icons.sectionClosed"></i>
          <i class="fa @models.template.Icons.sectionOpen"></i>
          <i data-key="procedure" title="Show Procedure List" class="show-list-link fa @models.template.Icons.sectionDetails"></i>
          Stored Procedures
        </a>
        <div class="collapsible-body">
          <ul id="procedure-list" class="submenu">
            <li class="black-text"><em>Loading...</em></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li>
    <a id="sidenav-help-link" class="top-nav-link waves-effect" href="#help">
      <i class="fa @models.template.Icons.help menu-icon"></i> Help
    </a>
  </li>
  <li>
    <a id="sidenav-feedback-link" class="top-nav-link waves-effect" href="#feedback">
      <i class="fa @models.template.Icons.feedback menu-icon"></i> Feedback
    </a>
  </li>
  <li>
    <a id="sidenav-about-link" class="top-nav-link waves-effect" href="https://databaseflow.com" target="_blank">
      <i class="fa @models.template.Icons.about menu-icon"></i> About @utils.Config.projectName
    </a>
  </li>
</ul>
