@(user: models.user.User, schema: models.schema.Schema)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@views.html.layout.materialize(utils.Config.projectName, debug = false) {
  <header>
    <nav class="@user.preferences.theme lighten-2">
      <a href="@routes.HomeController.index()" class="brand-logo center">@utils.Config.projectName</a>
    </nav>
  </header>

  <main xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">@schema.name</span>
              <div>
                <em>This page shows the definition for the @schema.engine @schema.engineVersion @schema.schemaTerm</em>
              </div>
            </div>
            <div class="card-action">
              @if(schema.tables.nonEmpty) { <a href="#tables">Tables</a> }
              @if(schema.procedures.nonEmpty) { <a href="#procs">Procedures</a> }
              @if(schema.clientInfoProperties.nonEmpty) { <a href="#cip">Properties</a> }
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <a name="tables"></a>
        <h3>Tables</h3>
        @schema.tables.map { table =>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">@table.name</span>
                @table.description.map { d => <div><em>@d</em></div> }

                @table.primaryKey.map { pk =>
                  <h5>Primary Key</h5>
                  <table>
                    <thead>
                      <tr>
                        <th style="width: 25%">Name</th>
                        <th style="width: 25%">Columns</th>
                      </tr>
                    </thead>
                    <tbody>
                      @pk.columns.map { col =>
                        <tr>
                          <td>@pk.name</td>
                          <td>@col</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                }

                @if(table.columns.nonEmpty) {
                  <h5>Columns</h5>
                  <table>
                    <thead>
                      <tr>
                        <th style="width: 50%">Name</th>
                        <th style="width: 25%">Type</th>
                        <th style="width: 25%">Primary Key</th>
                      </tr>
                    </thead>
                    <tbody>
                    @table.columns.map { col =>
                      <tr>
                        <td>@col.name</td>
                        <td>@col.sqlTypeName</td>
                        <td>@table.primaryKey.exists(k => k.columns.contains(col.name))</td>
                      </tr>
                    }
                    </tbody>
                  </table>
                }

                @if(table.indices.nonEmpty) {
                  <h5>Indexes</h5>
                  <table>
                    <thead>
                      <tr>
                        <th style="width: 30%">Index</th>
                        <th style="width: 10%">Unique</th>
                        <th style="width: 20%">Type</th>
                        <th style="width: 10%">Size</th>
                        <th style="width: 30%">Columns</th>
                      </tr>
                    </thead>
                    <tbody>
                    @table.indices.map { idx =>
                      <tr>
                        <td>@idx.name</td>
                        <td>@idx.unique</td>
                        <td>@idx.indexType</td>
                        <td>@idx.cardinality</td>
                        <td>@idx.columns.map(_.name).mkString(", ")</td>
                      </tr>
                    }
                    </tbody>
                  </table>
                }

                @if(table.foreignKeys.nonEmpty) {
                  <h5>Foreign Keys</h5>
                  <table>
                    <thead>
                      <tr>
                        <th style="width: 25%">Name</th>
                        <th style="width: 25%">Source Columns</th>
                        <th style="width: 25%">Target Table</th>
                        <th style="width: 25%">Target Columns</th>
                      </tr>
                    </thead>
                    <tbody>
                    @table.foreignKeys.map { fk =>
                      <tr>
                        <td>@fk.name</td>
                        <td>@fk.references.map(r => r.source).mkString(", ")</td>
                        <td>@fk.targetTable</td>
                        <td>@fk.references.map(r => r.target).mkString(", ")</td>
                      </tr>
                    }
                    </tbody>
                  </table>
                }
              </div>
            </div>
          </div>
        }
      </div>

      <div class="row">
        <a name="procs"></a>
        <h3>Procedures</h3>
        @schema.procedures.map { p =>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">@p.name</span>
                @p.description.map { d => <div><em>@d</em></div> }
                <h5>Parameters</h5>
                <table>
                  <thead>
                    <tr>
                      <th style="width: 50%">Name</th>
                      <th style="width: 25%">Type</th>
                      <th style="width: 25%">Param Type</th>
                    </tr>
                  </thead>
                  <tbody>
                  @p.params.map { p =>
                    <tr>
                      <td>@p.name</td>
                      <td>@p.typeName</td>
                      <td>@p.paramType</td>
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
      </div>

      @if(schema.clientInfoProperties.nonEmpty) {
        <div class="row">
          <a name="cip"></a>
          <h3>Properties</h3>
          @schema.clientInfoProperties.map { ci =>
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">@ci.name</span>
                  @ci.description.map { d => <div><em>@d</em></div> }
                  <table>
                    <thead>
                      <tr>
                        <th style="width: 25%">Max Length</th>
                        <th style="width: 75%">Default Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>@ci.maxLength</td>
                        <td>@ci.defaultValue</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </main>
}
