@(user: models.user.User, schema: models.schema.Schema)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@views.html.layout.materialize(utils.Config.projectName) {
  @layout.header(user, showMenu = true, activeSection = Some("explore"))

  <main xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">@schema.name</span>
              <div>
                <em>This page shows the definition for the @schema.engine @schema.engineVersion @schema.schemaTerm</em>
              </div>
            </div>
            <div class="card-action">
              <a href="#tables">Tables</a>
              <a href="#procs">Procedures</a>
              <a href="#functions">Functions</a>
              <a href="#cip">Properties</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <a name="tables"></a>
        <h3>Tables</h3>
        @schema.tables.map { table =>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">@table.name</span>

                <h5>Columns</h5>
                <table>
                  <thead>
                    <tr>
                      <th style="width: 50%">Name</th>
                      <th style="width: 25%">Type</th>
                      <th style="width: 25%">Primary Key</th>
                    </tr>
                  </thead>
                  <tbody>
                    @table.columns.map { col =>
                      <tr>
                        <td>@col.name</td>
                        <td>@col.typeName</td>
                        <td>@table.primaryKey.exists(k => k.columns.contains(col.name))</td>
                      </tr>
                    }
                  </tbody>
                </table>

                <h5>Indexes</h5>
                <table>
                  <thead>
                    <tr>
                      <th style="width: 50%">Index</th>
                      <th style="width: 25%">Type</th>
                      <th style="width: 25%">Size</th>
                    </tr>
                  </thead>
                  <tbody>
                  @table.indices.map { idx =>
                    <tr>
                      <td>@idx.name</td>
                      <td>@idx.indexType</td>
                      <td>@idx.cardinality</td>
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="row">
        <a name="procs"></a>
        <h3>Procedures</h3>
        @schema.procedures.map { p =>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">@p.name</span>
                @p.description.map { d => <div><em>@d</em></div> }
                <h5>Parameters</h5>
                <table>
                  <thead>
                    <tr>
                      <th style="width: 50%">Name</th>
                      <th style="width: 25%">Type</th>
                      <th style="width: 25%">Param Type</th>
                    </tr>
                  </thead>
                  <tbody>
                  @p.params.map { p =>
                    <tr>
                      <td>@p.name</td>
                      <td>@p.typeName</td>
                      <td>@p.paramType</td>
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="row">
        <a name="functions"></a>
        <h3>Functions</h3>
        @schema.functions.map { f =>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">@f.name</span>
                @f.description.map { d => <div><em>@d</em></div> }
                <h5>Parameters</h5>
                <table>
                  <thead>
                    <tr>
                      <th style="width: 50%">Name</th>
                      <th style="width: 25%">Type</th>
                      <th style="width: 25%">Param Type</th>
                    </tr>
                  </thead>
                  <tbody>
                  @f.params.map { p =>
                    <tr>
                      <td>@p.name</td>
                      <td>@p.typeName</td>
                      <td>@p.paramType</td>
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="row">
        <a name="cip"></a>
        <h3>Properties</h3>
        @schema.clientInfoProperties.map { ci =>
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">@ci.name</span>
                @ci.description.map { d => <div><em>@d</em></div> }
                <table>
                  <thead>
                    <tr>
                      <th style="width: 25%">Max Length</th>
                      <th style="width: 75%">Default Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>@ci.maxLength</td>
                      <td>@ci.defaultValue</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </main>

  @layout.footer(user)
}
