logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/db
/out

/cache

/build/*.gz
/build/linux
/build/osx
/build/windows
/build/getdown

/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
**/licenses

buildinfo.properties
