logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/db
/out

/cache

/build/*.gz
/build/*.zip
/build/*.deb
/build/*.exe
/build/*.pkg
/build/*.dmg
/build/jwrapper

/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
**/licenses

buildinfo.properties
