@()(implicit messages: Messages)<div id="data-insert-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div id="data-insert-modal-content"></div>
  </div>
  <div class="modal-footer">
    <a id="data-insert-save-link" href="#" class="modal-action right btn theme waves-effect waves-light">@messages("query.insert")</a>
    <a id="data-insert-cancel-link" href="#" class="modal-action right btn-flat theme-text">@messages("general.cancel")</a>
    <div style="clear: both;"></div>
  </div>
</div>
