@(user: Option[models.user.User], connectionId: java.util.UUID)
<div id="export-modal" class="modal">
  <form action="@routes.QueryController.export(connectionId)" method="post">
    <input id="input-export-query-id" name="queryId" type="hidden" value="" />
    <input id="input-export-sql" name="sql" type="hidden" value="" />
    <input id="input-export-filename" name="filename" type="hidden" value="" />
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <div class="card-panel option-panel">
                <p>
                  <input id="input-export-format-csv" name="format" type="radio" value="csv" checked="checked" />
                  <label for="input-export-format-csv">
                    <code>csv</code><br/>
                    <em>Comma Separated Values</em>
                  </label>
                </p>
                <p>
                  <input id="input-export-format-xlsx" name="format" type="radio" value="xlsx" />
                  <label for="input-export-format-xlsx">
                    <code>xlsx</code><br/>
                    <em>Microsoft Excel</em>
                  </label>
                </p>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-action right btn theme waves-effect waves-light ">Export</button>
      <a id="export-cancel-link" href="#" class="modal-action right btn-flat theme-text">Cancel</a>
      <div style="clear: both;"></div>
    </div>
  </form>
</div>
