@()(implicit messages: Messages)<div id="row-detail-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div id="row-detail-modal-content"></div>
  </div>
  <div class="modal-footer">
    <a id="row-detail-ok-link" href="#" class="modal-action right btn theme waves-effect waves-light">@messages("general.ok")</a>
    <a id="row-detail-edit-link" href="#" class="modal-action right btn-flat theme-text">@messages("query.edit")</a>
    <div style="clear: both;"></div>
  </div>
</div>
