@()(implicit messages: Messages)<div id="share-result-modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="input-result-name" type="text" class="validate" placeholder="">
            <label for="input-result-name">@messages("modal.share.result.name")</label>
          </div>
          <div class="input-field col s12">
            <input id="input-result-description" type="text" class="validate" placeholder="">
            <label for="input-result-description">@messages("modal.share.result.description")</label>
          </div>
        </div>
        <div class="row">
          @views.html.components.permissionsPanel(messages("connection.permissions.available.to"), "shared-result")

          <div class="input-field col s12">
            <div class="card-panel option-panel">
              <h6><i class="fa @models.template.Icons.user"></i> @messages("connection.permissions.available.to")</h6>
              <p>
                <input id="input-shared-result-visitor" name="read" type="radio" value="visitor" />
                <label for="input-result-read-visitor">@messages("query.permissions.everyone")</label>
              </p>
              <p>
                <input id="input-result-read-user" name="read" type="radio" value="user" />
                <label for="input-result-read-user">@messages("query.permissions.registered.users")</label>
              </p>
              <p>
                <input id="input-result-read-admin" name="read" type="radio" value="admin" />
                <label for="input-result-read-admin">@messages("query.permissions.administrators")</label>
              </p>
              <p>
                <input id="input-result-read-private" name="read" type="radio" value="private" />
                <label for="input-result-read-private">@messages("query.permissions.only.myself")</label>
              </p>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a id="input-query-save-link" href="#" class="modal-action right btn theme waves-effect waves-light">@messages("general.save")</a>
    <a id="input-query-cancel-link" href="#" class="modal-action right btn-flat theme-text">@messages("general.cancel")</a>
    <div style="clear: both;"></div>
  </div>
</div>
