@(user: Option[models.user.User], form: Form[com.mohiva.play.silhouette.api.util.Credentials])(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(user = user, title = Messages("authentication.sign.in", utils.Config.projectName), debug = false) {
  <form method="post" action="@controllers.auth.routes.AuthenticationController.authenticateCredentials()">
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            @if(flash.get("error").isDefined) {
              <div class="flash-error">@flash("error")</div>
            }
            <span class="card-title">
              @Messages("authentication.call.to.action", utils.Config.projectName)
            </span>

            <div class="row">
              <div class="input-field col s12">
                <input id="input-email" type="text" class="form-control validate" name="email" value="@form("email").value" />
                <label for="input-email">@Messages("authentication.form.email")</label>
              </div>
              @form.error("email").map { e =>
                <div><em>@Messages(e.message)</em></div>
              }
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="input-password" type="password" class="form-control validate" name="password" value="@form("password").value" />
                <label for="input-password">@Messages("authentication.form.password")</label>
              </div>
              @form.error("password").map { e =>
                <div><em>@Messages(e.message)</em></div>
              }
            </div>
          </div>
          <div class="card-action">
            <button class="right btn waves-effect waves-light" type="submit">@Messages("authentication.sign.in")</button>
            <div>
              <p>Not a member? <a href="@controllers.auth.routes.RegistrationController.registrationForm()">Sign up now</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
}
