@(user: models.user.User, debug: Boolean)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.admin(user, "import", messages("admin.import.title"), debug = debug) {
  <div class="card-content">
    <div class="card-title"><i class="fa @models.template.Icons.systemImport"></i> @messages("admin.import.title")</div>

    <div class="row">
      <div class="col s12">
        <div class="z-depth-1" style="padding: 20px;">
          @messages("admin.export.instructions", utils.Config.projectName)
          <div style="margin-top: 10px">
            <a href="@controllers.admin.routes.AdminController.systemExport()" class="btn theme waves-effect waves-light">@messages("th.export")</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <form action="@controllers.admin.routes.AdminController.systemImport()" method="post" enctype="multipart/form-data">
          <div class="z-depth-1" style="padding: 20px;">
            @messages("admin.import.instructions")
            <div style="margin-top: 10px">
              <input type="file" name="f">
            </div>
            <div style="margin-top: 10px">
              <button class="btn theme waves-effect waves-light" type="submit">@messages("th.import")</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text" href="@controllers.routes.HomeController.home()">@messages("general.back.title")</a>
  </div>
}
