@(user: models.user.User, debug: Boolean)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.admin(user, "import", messages("admin.import.title"), debug = debug) {
  <div class="card-content">
    <div class="card-title"><i class="fa @models.template.Icons.systemImport"></i> @messages("admin.import.title")</div>

    <div class="row">
      <div class="col s12">
        <div class="z-depth-1" style="padding: 20px;">
          Download an export of @utils.Config.projectName's settings, connections, and saved queries.
          <div style="margin-top: 10px"><a href="@controllers.admin.routes.AdminController.systemExport()" class="btn theme waves-effect waves-light">Export</a></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <form action="@controllers.admin.routes.AdminController.systemImport()" method="post" enctype="multipart/form-data">
          <div class="z-depth-1" style="padding: 20px;">
            Upload a previously-download system export (json format).
            <div style="margin-top: 10px">
              <input type="file" name="f">
            </div>
            <div style="margin-top: 10px"><button class="btn theme waves-effect waves-light" type="submit">Import</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text" href="@controllers.routes.HomeController.home()">@messages("general.back.title")</a>
  </div>
}
