@(user: models.user.User, debug: Boolean)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.admin(user, "", messages("admin.index.title", utils.Config.projectName), debug = debug) {
  <div class="card-content">
    <div class="card-title">@messages("admin.index.title", utils.Config.projectName)</div>

    <div class="row">
      <div class="col s12">
        @messages("admin.index.prompt")

        <ul class="collection">
          <li class="collection-item">
            <a class="theme-text" href="@controllers.admin.routes.SettingsController.settings()">@messages("admin.settings.title")</a>
            <div><em>@messages("admin.settings.description")</em></div>
          </li>
          <li class="collection-item">
            <a class="theme-text" href="@controllers.admin.routes.UserEditController.users()">@messages("admin.users.title")</a>
            <div><em>@messages("admin.users.description")</em></div>
          </li>
          <li class="collection-item">
            <a class="theme-text" href="@controllers.admin.routes.ResultCacheController.results()">@messages("admin.results.title")</a>
            <div><em>@messages("admin.results.description")</em></div>
          </li>
          <li class="collection-item">
            <a class="theme-text" href="@controllers.admin.routes.ActivityController.activity()">@messages("admin.activity.title")</a>
            <div><em>@messages("admin.activity.description")</em></div>
          </li>
          <li class="collection-item">
            <a class="theme-text" href="@controllers.admin.routes.AdminController.status()">@messages("admin.status.title", utils.Config.projectName)</a>
            <div><em>@messages("admin.status.description")</em></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text" href="@controllers.routes.HomeController.home()">@messages("general.back.title")</a>
  </div>
}
