@(user: Option[models.user.User], debug: Boolean, settings: Seq[models.settings.Setting])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(user, messages("admin.title"), debug = debug) {
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title"><i class="fa @models.template.Icons.settings"></i> @messages("admin.title")</div>

        @settings.map { setting =>
          <div>@setting.key.title</div>
        }
      </div>
      <div class="card-action">
        <a class="theme-text" href="@routes.HomeController.index()">Back to Connection List</a>
      </div>
    </div>
  </div>
}
