@(user: models.user.User, debug: Boolean, settings: Map[models.settings.SettingKey, String])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)

@import models.settings.SettingKey
@import models.settings.SettingKey._

@settingPanel(key: SettingKey)(content: Html) = {
  <div class="col s12">
    <div class="z-depth-1 setting-panel">
      <strong>@key.title</strong>
      <div class="setting-input">@content</div>
      <em>@key.description</em>
    </div>
  </div>
}

@layout.admin(user, "settings", messages("admin.settings.title"), debug = debug) {
  <form action="@controllers.admin.routes.SettingsController.saveSettings()" method="post">
    <div class="card-content">
      <div class="card-title"><i class="fa @models.template.Icons.settings"></i> @messages("admin.settings.title")</div>

      <div class="row">
        @settingPanel(QueryCacheConnection) {
          <div class="row">
            <div class="col s12 input-field">
              <select id="@QueryCacheConnection.id-select" name="@QueryCacheConnection.id">
              @defining(settings(QueryCacheConnection)) { connection =>
                @defining(services.connection.ConnectionSettingsService.getAll.filter { dbc =>
                  dbc.engine == models.engine.rdbms.H2 || dbc.engine == models.engine.rdbms.PostgreSQL
                }) { connections =>
                  @connections.map { c =>
                    <option value="@c.id" @if(c.id.toString == connection) { selected="selected" }>@c.name</option>
                  }
                }
              }
              </select>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="card-action">
      <button class="right theme btn" type="submit">Save</button>
      <a class="right theme-text btn-flat" href="@controllers.routes.HomeController.index()">Cancel</a>
      <div style="clear: both;"></div>
    </div>
  </form>

  <script>
    $(function() {
      $('#@QueryCacheConnection.id-select').material_select();
    });
  </script>

}
