@(user: Option[models.user.User], debug: Boolean, settings: Seq[models.settings.Setting])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.admin(user, "settings", messages("admin.settings.title"), debug = debug) {
  <div class="card-content">
    <div class="card-title"><i class="fa @models.template.Icons.settings"></i> @messages("admin.settings.title")</div>

    <div class="row">
      @settings.map { setting =>
        <div class="col s12 m6 l4">
          <div class="z-depth-1 setting-panel">
            <strong>@setting.key.title</strong>
            <div class="setting-input">
              <input type="text" name="@setting.key.id" value="@setting.value" />
            </div>
            <em>@setting.key.description</em>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text" href="@routes.HomeController.index()">Back to Connection List</a>
  </div>
}
