@(user: models.user.User)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@layout.admin(user, "status", messages("admin.status.title", util.Config.projectName)) {
  <div class="content-panel">
    <div class="panel-title"><i class="fa @models.template.Icons.settings"></i> @messages("admin.status.title", util.Config.projectName)</div>

    <div class="row">
      <div class="col s12">
        <ul class="collection">
          <li class="collection-item">
            <a href="@controllers.admin.routes.MetricsController.showMetrics()" class="theme-text">Configuration</a>
            @defining(services.config.ConfigFileService.configDir) { c =>
              <div>@messages("admin.status.file.loaded", c.path.toAbsolutePath)</div>
            }
          </li>
          <li class="collection-item">
            <a href="@controllers.admin.routes.AdminController.projects()" class="theme-text">Database Operations</a>
              <div>@messages("admin.status.connections")</div>
          </li>
          <li class="collection-item">
            @defining(services.database.core.MasterDatabase.settings.get) { c =>
              <a href="@controllers.query.routes.QueryController.main(c.slug)" class="theme-text">Master Database</a>
              <div>@messages("admin.status.db.loaded", c.engine.name, c.url)</div>
            }
          </li>
          <li class="collection-item">
            @defining(services.database.core.ResultCacheDatabase.settings.get) { c =>
              <a href="@controllers.query.routes.QueryController.main(c.slug)" class="theme-text">Result Cache</a>
              <div>@messages("admin.status.db.loaded", c.engine.name, c.url)</div>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-action">
    <a class="theme-text" href="@controllers.admin.routes.AdminController.index()">@messages("admin.back.title")</a>
  </div>
}
