@(
    user: Option[models.user.User],
    debug: Boolean,
    activity: Seq[models.audit.AuditRecord],
    orderBy: Option[(String, Boolean)],
    limit: Int,
    offset: Int,
    userService: services.user.UserSearchService
)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.admin(
  user,
  "activity",
  messages("admin.activity.title"),
  debug = debug,
  scripts = Seq(routes.Assets.versioned("lib/momentjs/min/moment.min.js").url)
) {
  <div class="card-content">
    <div class="right">
      <a class="theme-text" href="@controllers.admin.routes.ActivityController.removeAllAudits()" onclick="return confirm('Are you sure you wish to remove all system activity?');">Remove All Activity</a>
    </div>

    <div class="card-title"><i class="fa @models.template.Icons.cache"></i> @messages("admin.activity.title")</div>

    <div class="row">
      <div class="col s12">
      @if(activity.isEmpty) {
        <div style="padding: 10px;">No activity recorded in database.</div>
      } else {
        @views.html.activity.listTable(activity, orderBy, Some(controllers.admin.routes.ActivityController.removeAudit), Some(userService))
      }
      </div>
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text" href="@controllers.routes.HomeController.home()">Back to Connection List</a>
    @if(activity.size == limit) {
      <a class="right-link theme-text load-more-link" href="@controllers.admin.routes.ActivityController.activity(limit, offset + limit)">Load @limit More</a>
    }
  </div>
  @views.html.activity.listScript()
}
