@(section: String, isAdmin: Boolean)(implicit messages: Messages)<header>
  <nav id="topnav" class="theme">
    <div class="container">
      @if(section != "splash") {<ul class="right hide-on-small-only">
        @if(section == "features") {
          <li class="active"><a href="@controllers.routes.ContentController.features()">@messages("index.features.link")</a></li>
        } else {
          <li><a href="@controllers.routes.ContentController.features()">@messages("index.features.link")</a></li>
        }
        @if(section == "download") {
          <li class="active"><a href="@controllers.routes.DownloadController.index()">@messages("index.download.link")</a></li>
        } else {
          <li><a href="@controllers.routes.DownloadController.index()">@messages("index.download.link")</a></li>
        }
        @if(isAdmin) {
          @if(section == "admin") {
            <li class="active"><a href="@controllers.admin.routes.AdminController.index()">@messages("index.admin.link")</a></li>
          } else {
            <li><a href="@controllers.admin.routes.AdminController.index()">@messages("index.admin.link")</a></li>
          }
        }
      </ul>}
      <a href="@controllers.routes.SiteController.index()" class="brand-title"><i class="fa fa-database logo-icon"></i> @util.Config.projectName</a>
      <div class="clear"></div>
    </div>
  </nav>
</header>
