@(title: String, section: String, isAdmin: Boolean = false, scripts: Seq[String] = Nil)(content: Html)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.materialize(title, scripts = scripts) {
  <header>
    <nav id="topnav" class="theme">
      @if(section != "splash") {<ul class="right hide-on-small-only">
        @if(section == "features") {
          <li class="active"><a href="">@messages("index.features.link")</a></li>
        } else {
          <li><a href="">@messages("index.features.link")</a></li>
        }
        @if(section == "download") {
          <li class="active"><a href="">@messages("index.download.link")</a></li>
        } else {
          <li><a href="">@messages("index.download.link")</a></li>
        }
        @if(section == "license") {
          <li class="active"><a href="">@messages("index.license.link")</a></li>
        } else {
          <li><a href="">@messages("index.license.link")</a></li>
        }
        @if(isAdmin) {
          @if(section == "admin") {
            <li class="active"><a href="@controllers.admin.routes.AdminController.index()">@messages("index.admin.link")</a></li>
          } else {
            <li><a href="@controllers.admin.routes.AdminController.index()">@messages("index.admin.link")</a></li>
          }
        }
      </ul>}
      <a href="@routes.SiteController.splash()" class="brand-logo left"><i style="margin-left: 10px;" class="fa fa-database"></i> @utils.Config.projectName</a>
    </nav>
  </header>

  <main>
    <div class="static-container container">
      @flash.get("error").map { err =>
        <div class="flash-error z-depth-1">@err</div>
      }
      @flash.get("success").map { success =>
        <div class="flash-success z-depth-1">@success</div>
      }
      @content
    </div>
  </main>

  <footer class="page-footer theme">
    <div class="footer-copyright">
      @messages("static.copyright")
      <a class="grey-text text-lighten-4 right" href="https://databaseflow.com">@messages("general.about")</a>
    </div>
  </footer>
}
