<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%-5coloredLevel %d{HH:mm:ss.SSS} %cyan(%logger{15}): %msg%n%xException</pattern>
    </encoder>
  </appender>

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.zaxxer.hikari" level="OFF" />
  <logger name="org.eclipse.jetty" level="OFF" />
  <logger name="akka.actor" level="ERROR" />
  <logger name="play.api.mvc.DefaultJWTCookieDataCodec" level="ERROR" />

  <logger name="play.core.server.AkkaHttpServer" level="OFF" />
  <logger name="play.core.server.ssl.DefaultSSLEngineProvider" level="OFF" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
