@(user: models.user.User, connectionId: java.util.UUID, connectionSlug: String, queries: Seq[models.graphql.GraphQLQuery], query: Option[models.graphql.GraphQLQuery])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.basic(Some(user), utils.Config.projectName + " GraphQL", scripts = Seq(
  routes.Assets.versioned("lib/graphql/fetch.min.js").url,
  routes.Assets.versioned("lib/graphql/react.min.js").url,
  routes.Assets.versioned("lib/graphql/react-dom.min.js").url,
  routes.Assets.versioned("lib/graphql/graphiql.min.js").url,
  routes.Assets.versioned("lib/jquery/jquery.min.js").url,
  routes.Assets.versioned("lib/graphql/app-graphiql.js").url
), stylesheets = Seq(
  routes.Assets.versioned("lib/graphql/graphiql.css").url,
  routes.Assets.versioned("stylesheets/graphiql.min.css").url
)) {
  <style>
  .graphiql-container .topBar {
    background: @user.preferences.theme.color;
    color: #fff;
  }

  .graphiql-container .docExplorerShow {
    background: @user.preferences.theme.color;
    color: #fff;
    border-left: none;
  }
  </style>

  <script>
    window.graphQLUrl = '/graphql/@connectionId';
  </script>

  @if(query.isDefined) {
    @defining(query.get) { q =>
      <script>
          window.graphQLQuery = {
            "id": "@q.id",
            "connection": "@q.connection.getOrElse("")",
            "category": "@q.category.getOrElse("")",
            "name": "@q.name",
            "query": "@q.query",
            "read": "@q.read",
            "edit": "@q.edit"
          };
      </script>
    }
  }

  @views.html.graphql.options(connectionId, connectionSlug, queries, user.preferences.theme.color)
  <div id="graphiql">Loading...</div>
  <script>renderGraphiql(document.getElementById('graphiql'))</script>
}
