@(user: models.user.User, connectionId: Option[java.util.UUID], queries: Seq[models.graphql.GraphQLQuery], query: Option[models.graphql.GraphQLQuery])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.basic(Some(user), utils.Config.projectName + " GraphQL", scripts = Seq(
  routes.Assets.versioned("lib/graphiql/fetch.min.js").url,
  routes.Assets.versioned("lib/graphiql/react.min.js").url,
  routes.Assets.versioned("lib/graphiql/react-dom.min.js").url,
  routes.Assets.versioned("lib/graphiql/graphiql.min.js").url,
  routes.Assets.versioned("lib/jquery/jquery.min.js").url,
  routes.Assets.versioned("lib/graphiql/app-graphiql.js").url
), stylesheets = Seq(routes.Assets.versioned("lib/graphiql/graphiql.css").url)) {
  <style>
    body {
      height: 100%;
      margin: 0;
      width: 100%;
      overflow: hidden;
    }

    #graphiql {
      height: 100vh;
    }

    .graphiql-container .topBar {
      background: @user.preferences.theme.color;
      color: #fff;
    }

    .graphiql-container .docExplorerShow {
      background: @user.preferences.theme.color;
      color: #fff;
      border-left: none;
    }

    .graphiql-container .docExplorerShow:before {
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
    }

    .graphiql-container .CodeMirror-lines {
      padding: 0;
    }

    .graphiql-container .execute-button-wrap {
      margin: 0 12px;
    }

    .graphiql-container .execute-button {
      box-shadow: none;
    }

    .graphiql-container .toggle-button {
      float: left;
      font-size: 1.3rem;
      margin: -4px 14px 0 -4px;
      cursor: pointer;
    }

    .graphiql-container .title-link {
      color: #fff;
      text-decoration: none;
    }
  </style>

  <script>
    window.graphQLUrl = '@connectionId.map("/graphql/" + _).getOrElse("/graphql")';
  </script>

  @if(query.isDefined) {
    @defining(query.get) { q =>
      <script>
          window.graphQLQuery = {
            "id": "@q.id",
            "connection": "@q.connection.getOrElse("")",
            "category": "@q.category.getOrElse("")",
            "name": "@q.name",
            "query": "@q.query",
            "read": "@q.read",
            "edit": "@q.edit"
          };
      </script>
    }
  }

  @views.html.graphql.options(queries, user.preferences.theme.color)
  <div id="graphiql">Loading...</div>
  <script>renderGraphiql(document.getElementById('graphiql'))</script>
}









<!--


-->
