@(user: models.user.User, connection: models.connection.ConnectionSettings)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.materialize(Some(user), connection.name + " Schema", scripts = Seq(
  routes.Assets.versioned("lib/graphql/react.min.js").url,
  routes.Assets.versioned("lib/graphql/react-dom.min.js").url,
  routes.Assets.versioned("lib/graphql/voyager.min.js").url
), stylesheets = Seq(
  routes.Assets.versioned("lib/graphql/voyager.css").url
)) {
  @views.html.layout.themeStyles(user.preferences.theme)

  <style>
    .title-area, .type-doc>.doc-navigation {
      display: none;
    }
  </style>

  <header>
    @views.html.components.userDropdown(Some(user))

    <div class="nb-container navbar-fixed">
      <nav id="topnav" class="theme">
        <div class="nav-wrapper">
          <a href="@controllers.routes.HomeController.home()" class="brand-logo"><i class="fa @models.template.Icons.database"></i> @connection.name Schema</a>
          <ul class="right hide-on-small-only">
            <li><a class="dropdown-button" href="#" data-activates="dropdown-user">
              @user.username <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdownToggle right"></i>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main id="voyager">Loading...</main>
  <script>
    function introspectionProvider(introspectionQuery) {
      return fetch('/graphql/@connection.id', {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({query: introspectionQuery}),
        credentials: 'include'
      }).then(function (response) {
        return response.text();
      }).then(function (responseBody) {
        try {
          return JSON.parse(responseBody);
        } catch (error) {
          console.log(error);
          return responseBody;
        }
      });
    }

    GraphQLVoyager.init(document.getElementById('voyager'), {
      introspection: introspectionProvider
    })
  </script>
}
