@(user: models.user.User, cs: models.connection.ConnectionSettings, schema: models.schema.Schema, cfg: services.scalaexport.config.ExportConfig)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, message: Messages
)

@layout.admin(user = user, title = s"${cfg.projectName} Scala Export", activeSection = "") {
  <style>
    textarea {
      min-height: 120px;
    }
  </style>
  <div class="row">
    <div class="col s12">
      <form method="post" action="@controllers.admin.routes.ScalaExportController.export(cs.slug)">
        <ul class="collection with-header">
          <li class="collection-header">
            <div class="right">
              <button class="theme btn" type="submit">Run Export</button>
            </div>
            <h5 style="margin-top: 0;">@cfg.projectName</h5>
            <em>Scala Project Export</em>
          </li>
          <li class="collection-item">
            <div>Project Name</div>
            <input name="projectName" value="@cfg.projectName" />
          </li>
          <li class="collection-item">
            <div>Project Location</div>
            <input name="projectLocation" value="@cfg.projectLocation" placeholder="Leave empty to clone Boilerplay" />
          </li>
          <li class="collection-item">
            <div>Engine</div>
            <input name="engine" value="@cfg.engine" />
          </li>
          <li class="collection-item">
            <div>Provided Classes</div>
            <textarea name="provided">@cfg.provided.map(x => x._1 + " = " + x._2).mkString("\n")</textarea>
          </li>
          <li class="collection-item">
            <div>Class Names</div>
            <textarea name="classNames">@cfg.classNames.map(x => x._1 + " = " + x._2).mkString("\n")</textarea>
          </li>
          <li class="collection-item">
            <div>Extends Models</div>
            <textarea name="extendModels">@cfg.extendModels.map(x => x._1 + " = " + x._2).mkString("\n")</textarea>
          </li>
          <li class="collection-item">
            <div>Property Names</div>
            <textarea name="propertyNames">@cfg.propertyNames.map(x => x._1 + " = " + x._2).mkString("\n")</textarea>
          </li>
          <li class="collection-item">
            <div>Packages</div>
            <textarea name="packages">@cfg.packages.map(x => x._1 + " = " + x._2).mkString("\n")</textarea>
          </li>
          <li class="collection-item">
            <div>Titles</div>
            <textarea name="titles">@cfg.titles.map(x => x._1 + " = " + x._2._1 + ":" + x._2._2).mkString("\n")</textarea>
          </li>
          <li class="collection-item">
            <div>Search Columns</div>
            <textarea name="searchColumns">@cfg.searchColumns.map(x => x._1 + " = " + x._2.map(x => if(x._1 == x._2) { x._1 } else { x._1 + ":" + x._2 }).mkString(", ")).mkString("\n")</textarea>
          </li>
        </ul>
      </form>
    </div>
  </div>
}
