@(model: models.scalaexport.db.ExportModel, field: models.scalaexport.db.ExportField)

@chk(b: Boolean) = {@{if(b) { "checked=\"checked\"" } else { "" }}}
@baseName = {@{s"model.${model.tableName}.field.${field.columnName}"}}

<!-- Field form for [@model.className::@field.propertyName] -->
<tr>
  <td>@field.columnName</td>
  <td><input name="@{baseName}.propertyName" class="validate" value="@field.propertyName" /></td>
  <td><input name="@{baseName}.title" class="validate" value="@field.title" /></td>
  <td><input name="@{baseName}.t" class="validate" value="@field.t" /></td>
  <td>
    <input name="@{baseName}.inSearch" id="@{baseName}.inSearch" @chk(field.inSearch) type="checkbox" value="true" />
    <label for="@{baseName}.inSearch"></label>
  </td>
  <td>
    <input name="@{baseName}.inView" id="@{baseName}.inView" @chk(field.inView) type="checkbox" value="true" />
    <label for="@{baseName}.inView"></label>
  </td>
  <td>
    <input name="@{baseName}.inSummary" id="@{baseName}.inSummary" @chk(field.inSummary) type="checkbox" value="true" />
    <label for="@{baseName}.inSummary"></label>
  </td>
  <td>
    <input name="@{baseName}.ignored" id="@{baseName}.ignored" @chk(field.ignored) type="checkbox" value="true" />
    <label for="@{baseName}.ignored"></label>
  </td>
</tr>
