@(
    model: models.scalaexport.db.ExportModel,
    ref: models.scalaexport.db.ExportModel.Reference,
    tgt: models.scalaexport.db.ExportField,
    srcModel: models.scalaexport.db.ExportModel,
    srcField: models.scalaexport.db.ExportField
)

@chk(b: Boolean) = {@{if(b) { "checked=\"checked\"" } else { "" }}}
@baseName = {@{s"model.${model.tableName}.ref.${ref.name}"}}

<!-- Field form for [@model.className::@tgt.propertyName] -->
<tr>
  <td>@tgt.columnName</td>
  <td><input name="@{baseName}.propertyName" class="validate" value="@ref.propertyName" /></td>
</tr>
