@(
    model: com.databaseflow.models.scalaexport.db.ExportModel,
    ref: com.databaseflow.models.scalaexport.db.ExportModel.Reference,
    tgt: com.databaseflow.models.scalaexport.db.ExportField,
    srcModel: com.databaseflow.models.scalaexport.db.ExportModel,
    srcField: com.databaseflow.models.scalaexport.db.ExportField
)

@chk(b: Boolean) = {@{if(b) { "checked=\"checked\"" } else { "" }}}
@baseName = {@{s"model.${model.tableName}.ref.${ref.name}"}}

<!-- Field form for [@model.className::@tgt.propertyName] -->
<tr>
  <td>@tgt.columnName</td>
  <td><input name="@{baseName}.propertyName" class="validate" value="@if(ref.propertyName.isEmpty) { @com.databaseflow.services.scalaexport.ExportHelper.toIdentifier(ref.name) } else { @ref.propertyName }" /></td>
</tr>
