@(user: models.user.User, cs: models.connection.ConnectionSettings, cfg: services.scalaexport.config.ExportConfiguration, schema: models.schema.Schema)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, message: Messages
)@layout.admin(user = user, title = s"${cfg.projectTitle} Scala Export", activeSection = "") {
<form method="post" action="@controllers.admin.routes.ScalaExportController.export(cs.slug)">
  <div class="row">
    <div class="col s12">
      <div class="right"><button class="btn theme" type="submit">Run Export</button></div>
      <h5>Scala Project Export</h5>
    </div>
    <div class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header">
              <i class="fa @models.template.Icons.database"></i> @cs.name
            </div>
            <div class="collapsible-body with-padding">
              <table class="">
                <tbody>
                  <tr>
                    <th>Project ID</th>
                    <td><input name="project.id" class="validate" value="@cfg.projectId" /></td>
                  </tr>
                  <tr>
                    <th>Project Title</th>
                    <td><input name="project.title" class="validate" value="@cfg.projectTitle" /></td>
                  </tr>
                  <tr>
                    <th>Project Location</th>
                    <td><input name="project.location" class="validate" value="@cfg.projectLocation" /></td>
                  </tr>
                  <tr>
                    <th>Project Source</th>
                    <td><select name="project.source">
                      @if(cfg.source == "boilerplay") {
                        <option value="boilerplay" selected="selected">Boilerplay</option>
                      } else {
                        <option value="boilerplay">Boilerplay</option>
                      }
                    </select></td>
                  </tr>
                  <tr>
                    <th>Database Engine</th>
                    <td><select name="engine">
                      @if(cfg.engine == services.scalaexport.config.ExportEngine.PostgreSQL) {
                        <option value="postgres" selected="selected">PostgreSQL</option>
                      } else {
                        <option value="postgres">PostgreSQL</option>
                      }
                      @if(cfg.engine == services.scalaexport.config.ExportEngine.MySQL) {
                        <option value="mysql" selected="selected">MySQL</option>
                      } else {
                        <option value="mysql">MySQL</option>
                      }
                    </select></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          @schema.tables.map { table =>
            @views.html.admin.scalaExport.modelForm(
              table = table,
              model = cfg.getModelOptWithIgnored(table.name).getOrElse(services.scalaexport.config.ExportConfigurationDefault.loadModel(schema, table))
            )
          }
        </ul>
      </div>
    </div>
  </form>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
}
