@(user: models.user.User, cs: models.connection.ConnectionSettings, cfg: models.scalaexport.db.config.ExportConfiguration, schema: models.schema.Schema)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, message: Messages
)
@chk(b: Boolean) = {@{if(b) { "checked=\"checked\"" } else { "" }}}
@layout.admin(user = user, title = s"${cfg.projectTitle} Scala Export", activeSection = "") {
<form method="post" action="@controllers.admin.routes.ScalaExportController.export(cs.slug)">
  <div class="row">
    <div class="col s12">
      <div class="right"><button class="btn theme" type="submit">Run Export</button></div>
      <h5>Scala Project Export</h5>
    </div>
    <div class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
          <li>
            <div class="collapsible-header">
              <i class="fa @models.template.Icons.database"></i> @cs.name
            </div>
            <div class="collapsible-body with-padding">
              <table class="">
                <tbody>
                  <tr>
                    <th>Project ID</th>
                    <td><input name="project.id" class="validate" value="@cfg.projectId" /></td>
                  </tr>
                  <tr>
                    <th>Project Title</th>
                    <td><input name="project.title" class="validate" value="@cfg.projectTitle" /></td>
                  </tr>
                  <tr>
                    <th>Project Location</th>
                    <td><input name="project.location" class="validate" value="@cfg.projectLocation" /></td>
                  </tr>
                  <tr>
                    <th>Root Package Override</th>
                    <td><input name="project.defaultPackage" class="validate" value="@cfg.defaultPackage" /></td>
                  </tr>
                  <tr>
                    <th>Model Location Override</th>
                    <td><input name="model.location" class="validate" value="@cfg.modelLocationOverride" /></td>
                  </tr>
                  <tr>
                    <th>Thrift Location Override</th>
                    <td><input name="thrift.location" class="validate" value="@cfg.thriftLocationOverride" /></td>
                  </tr>
                  <tr>
                    <th>Flags</th>
                    <td><input name="project.flags" class="validate" value="@cfg.flags.toSeq.sorted.mkString(",")" /></td>
                  </tr>
                  <tr>
                    <th>Project Source</th>
                    <td><select name="project.source">
                      @if(cfg.source == "boilerplay") {
                        <option value="boilerplay" selected="selected">Boilerplay</option>
                      } else {
                        <option value="boilerplay">Boilerplay</option>
                      }
                    </select></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          @views.html.admin.scalaExport.enumForm(cfg.enums, schema.enums)
          @schema.tables.map { table =>
            @views.html.admin.scalaExport.modelForm(
              table = table,
              config = cfg,
              model = cfg.getModelOptWithIgnored(table.name).getOrElse(models.scalaexport.db.config.ExportConfigurationDefault.loadModel(schema, table, cfg.enums))
            )
          }
        </ul>
      </div>
    </div>
  </form>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
}
