@(user: models.user.User, cs: models.connection.ConnectionSettings)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, message: Messages
)@layout.admin(user = user, title = "Thrift Export", activeSection = "") {
<form method="post" action="@controllers.admin.routes.ScalaExportController.exportThrift(cs.slug)">
  <div class="row">
    <div class="col s12">
      <div class="right"><button class="btn theme" type="submit">Run Thrift Export</button></div>
      <h5>Thrift Export</h5>
    </div>
    <div class="col s12">
      <input title="Filename" name="filename" class="validate" value="./tmp/thrift/integration.thrift" />
    </div>
  </div>
</form>
}
