@(self: Option[models.user.User], debug: Boolean, user: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.admin(self, "users", messages("admin.users.title"), debug = debug) {
  <form action="@controllers.admin.routes.UserEditController.save(user.id)" method="post">
    <div class="card-content">
      <div class="card-title">
        <i class="fa @models.template.Icons.user"></i>
        Edit @user.username
        @if(self.map(_.id).contains(user.id)) { <span>(You)</span> }
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="input-username" type="text" class="form-control validate" name="username" value="@user.username.getOrElse("")" />
          <label for="input-username">@Messages("registration.form.username")</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="input-email" type="email" class="form-control validate" name="email" value="@user.profile.providerKey" />
          <label for="input-email">@Messages("registration.form.email")</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="input-password" type="password" class="form-control validate" name="password" value="original" />
          <label for="input-password">@Messages("registration.form.password")</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <p>
            @if(user.roles.contains(models.user.Role.Admin)) {
              <input type="checkbox" name="isAdmin" id="admin-checkbox" checked="checked" />
            } else {
              <input type="checkbox" name="isAdmin" id="admin-checkbox" />
            }
            <label for="admin-checkbox">Administrator</label>
          </p>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a class="theme-text right" onclick="$('form').submit();return false;">Save</a>
      <a class="theme-text" href="@controllers.admin.routes.UserEditController.view(user.id)">Cancel</a>
    </div>
  </form>
}
