@(self: models.user.User, debug: Boolean, user: models.user.User)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.admin(self, "users", messages("admin.users.title"), debug = debug) {
  <div class="card-content">
    <div class="card-title">
      <i class="fa @models.template.Icons.user"></i>
      @user.username
      @if(self.id == user.id) { <span>(You)</span> }
    </div>

    <div class="row">
      <div class="col s12">
        @user.profile.providerKey
      </div>
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text right" href="@controllers.admin.routes.UserController.edit(user.id)">Save</a>
    <a class="theme-text" href="@controllers.admin.routes.UserController.view(user.id)">Cancel</a>
  </div>
}
