@(debug: Boolean)
<script src="@routes.Assets.versioned("lib/plotly.js/dist/plotly-basic.js")" defer="defer"></script>
<script src="@routes.Assets.versioned("lib/plotly.js/dist/plotly-gl3d.js")" defer="defer"></script>
@if(debug) {
<script src="@controllers.routes.Assets.versioned("charting-fastopt.js")" type="text/javascript" defer="defer"></script>
} else {
<script src="@controllers.routes.Assets.versioned("charting-opt.js")" type="text/javascript" defer="defer"></script>
}

<script>
  $(function() {
    var svc = new Charting();
  });
</script>

<style>
  #chart {
    height: 768px;
  }
</style>


<div id="chart"></div>
