@(debug: Boolean)
<script src="@routes.Assets.versioned("lib/plotly/plotly-basic.min.js").url"></script>
@if(debug) {
<script src="@controllers.routes.Assets.versioned("charting-fastopt.js")" type="text/javascript" defer="defer"></script>
} else {
<script src="@controllers.routes.Assets.versioned("charting-opt.js")" type="text/javascript" defer="defer"></script>
}

<script>
  function cleanChart(el) {
    $(".modebar-btn", el).each(function() {
      var jq = $(this);
      if(jq.data('title') === 'Save and edit plot in cloud') {
        jq.remove();
      }
      if(jq.data('title') === 'Produced with Plotly') {
        jq.remove();
      }
    });
  }

  $(function() {
    var el = document.getElementById('chart');
    Plotly.plot(el, [{
      x: [1, 2, 3, 4, 5],
      y: [1, 2, 4, 8, 16]
    }], {
      margin: { t: 0 }
    });
    cleanChart(el);
  });
</script>

<style>
  #chart {
    background-color: lightgray;
    height: 768px;
  }
</style>


<div id="chart"></div>
