@(user: models.user.User, s: models.sandbox.SandboxTask, result: models.sandbox.SandboxTask.Result)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, message: Messages
)@layout.simple(user = Some(user), title = s"${s.name} Result") {
  <div class="row">
    <div class="col s12">
      <div class="content-panel">
        <div>
          <div style="float: right;">@result.status [@{result.elapsed}ms]</div>
          @s.name
        </div>
        <div><em>@result.task.description</em></div>
        <pre>@result.result</pre>
      </div>
    </div>
  </div>
}
