@(
  activity: Seq[models.audit.AuditRecord],
  orderBy: Option[(String, Boolean)],
  removeCall: Option[(java.util.UUID) => Call],
  userService: Option[services.user.UserSearchService]
)(implicit messages: Messages)

@th(key: String) = {
  @if(orderBy.map(_._1).contains(key)) {
    <th>
      @key
      @if(orderBy.exists(_._2)) {
        <i class="fa @models.template.Icons.sortedAsc"></i>
      } else {
        <i class="fa @models.template.Icons.sortedDesc"></i>
      }
    </th>
  } else {
    <th>@key</th>
  }
}
<table class="audit-list-table bordered highlight">
  <thead>
    <tr>
      <th></th>
      @th(messages("th.type"))
      @if(userService.isDefined) { @th(messages("th.owner")) }
      @th(messages("th.connection"))
      @th(messages("th.status"))
      @th(messages("th.rows"))
      @th(messages("th.elapsed"))
      @th(messages("th.occurred"))
      <th></th>
    </tr>
  </thead>
  <tbody>
    @activity.map { a =>
      @listRow(a, removeCall, userService)
    }
  </tbody>
</table>
