@(a: models.audit.AuditRecord, removeCall: Option[(java.util.UUID) => Call], userService: Option[services.user.UserSearchService])(implicit messages: Messages)<tr>
  <td><i class="fa @a.auditType.icon"></i></td>
  <td>@if(a.sql.isDefined) {
    <a class="theme-text audit-sql-toggle" href="" data-id="@a.id">@a.auditType.title</a>
  } else {
    @a.auditType.title
  }</td>
  @userService.map { us => <td>
    <a class="theme-text" href="@controllers.admin.routes.UserEditController.view(a.owner)">@us.getUsername(a.owner)</a>
  </td>}
  <td title="@a.connection">@a.connection.map { c =>
    @services.connection.ConnectionSettingsService.getById(c).map { x =>
      <a class="theme-text" href="@controllers.query.routes.QueryController.main(x.slug)">@x.name</a>
    }
  }.getOrElse("N/A")</td>
  <td>@if(a.error.isDefined) {
    <a class="theme-text audit-error-toggle" href="" data-id="@a.id">@a.status</a>
  } else {
    @a.status
  }
  </td>
  <td>@a.rowsAffected.map(util.NumberUtils.withCommas)</td>
  <td>@if(a.elapsed > 0) {
    @util.NumberUtils.withCommas(a.elapsed)ms
  }</td>
  <td>@defining(util.DateUtils.fromMillis(a.occurred)) { dt =>
    @defining(dt.toString("yyyy-MM-dd HH:mm:ss") + " UTC") { dtString =>
      <time class="timeago" title="@dtString" data-datetime="@util.DateUtils.toIsoString(dt)">@dtString</time>
    }
  }</td>
  @removeCall.map { call => <td>
    <a class="theme-text" href="@call(a.id)"><i class="fa @models.template.Icons.close"></i></a>
  </td> }
</tr>
@a.sql.map { s =>
  <tr class="audit-row" id="audit-sql-row-@a.id">
    <td colspan="9"><code>@messages("general.sql"): @s</code></td>
  </tr>
}
@a.error.map { e =>
  <tr class="audit-row" id="audit-error-row-@a.id">
    <td colspan="9"><code>@messages("general.error"): @e</code></td>
  </tr>
}
