@()<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Competition</span>
        <table class="bordered highlight">
          <thead>
            <tr>
              <th></th>
              <th>Site</th>
              <th>Price</th>
              <th>Model</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Wagon</td>
              <td><a class="theme-text" href="https://wagonhq.com">wagonhq.com</a></td>
              <td>
                Free Plan<br>
                Standard coming Summer 2016
              </td>
              <td>Hybrid Local App/Hosted</td>
            </tr>
            <tr>
              <td>Datazenit</td>
              <td><a class="theme-text" href="https://datazenit.com">datazenit.com</a></td>
              <td>
                $79 Personal<br>
                $179 Commercial
              </td>
              <td>Local Electron App</td>
            </tr>
            <tr>
              <td>JackDB</td>
              <td><a class="theme-text" href="https://jackdb.com">jackdb.com</a></td>
              <td>
                $49/user/month Team<br>
                $99/user/month Company<br>
                Call for Enterprise On-Premises
              </td>
              <td>Hosted</td>
            </tr>
            <tr>
              <td>Periscope</td>
              <td><a class="theme-text" href="https://periscopedata.com">periscopedata.com</a></td>
              <td>
                Starting at $1000/month
              </td>
              <td>Hosted</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
