@()
@row(title: String, nonCommercial: String, personal: String, team: String) = {<tr>
  <td>@title</td>
  <td>@nonCommercial</td>
  <td>@personal</td>
  <td>@team</td>
</tr>}
<div class="row">
  <div class="col s12">
    <div>Editions</div>
    <table class="bordered highlight">
      <thead>
        <tr>
          <th style="width: 25%;"></th>
          <th style="width: 25%;">Non-Commercial Edition</th>
          <th style="width: 25%;">Personal Edition</th>
          <th style="width: 25%;">Team Edition</th>
        </tr>
      </thead>
      <tbody>
        @defining(services.payment.StripePaymentService.prices(licensing.LicenseEdition.Personal)) { p =>
          @defining(services.payment.StripePaymentService.prices(licensing.LicenseEdition.Team)) { t =>
            @row("Price", "Free", "$" + p, "$" + t)
          }
        }
        @row("Users", "Single User", "Single User", "Unlimited Users")
      </tbody>
    </table>
  </div>
</div>
