@()(implicit messages: Messages)
@panel(e: utils.SiteEngine) = {
  <div id="@e.id" class="col s6 m4 l3 db-panel">
    <a class="theme-text" href="@routes.SiteController.database(e.id)">
      <div class="logo z-depth-1">
        <div class="on initially-hidden">
          <img src="@routes.Assets.versioned(s"images/db/${e.id}-active.png")" width="64" height="64" />
        </div>
        <div class="off">
          <img src="@routes.Assets.versioned(s"images/db/${e.id}.png")" width="64" height="64" />
        </div>
        <div>@e.title</div>
      </div>
    </a>
  </div>
}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Supported Databases</span>
        <div class="row padded-top">
          @utils.SiteEngine.values.map { v =>
            @panel(v)
          }
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    function dbWire(key) {
      var t = $('#' + key);
      var off = $('.off', t);
      var on = $('.on', t);
      t.hover(function(){
        off.hide();
        on.show();
      }, function(){
        on.hide();
        off.show();
      });
    }

    dbWire('mysql');
    dbWire('postgres');
    dbWire('oracle');
    dbWire('sqlserver');
    dbWire('h2');
    dbWire('db2');
    dbWire('informix');
    dbWire('sqlite');
  });
</script>
