@()<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Downloads</span>
        <div class="row" style="margin-top: 16px;">
          <div class="col s12 m4">
            <div class="z-depth-1">
              <table>
                <thead>
                  <tr><th style="text-align: center;" colspan="2">macOS</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.DownloadController.download("osx", "service")">.zip</a></td>
                    <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.DownloadController.download("osx", "gui")">.dmg</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="z-depth-1">
              <table>
                <thead>
                  <tr><th style="text-align: center;" colspan="2">Windows</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.DownloadController.download("windows", "service")">.zip</a></td>
                    <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.DownloadController.download("windows", "gui")">.msi</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="z-depth-1">
              <table>
                <thead>
                  <tr><th style="text-align: center;" colspan="2">Linux</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.DownloadController.download("linux", "service")">.tgz</a></td>
                    <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.DownloadController.download("linux", "deb")">.deb</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
