@()(implicit messages: Messages)
@card(k: String) = {
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="@routes.Assets.versioned(s"/images/screenshot/$k.png").url" style="min-height: 190px;">
      </div>
      <div class="card-content">
        <strong>@messages("features." + k + ".title")</strong>
        <p>@messages("features." + k + ".content")</p>
      </div>
    </div>
  </div>
}

<div class="row features-container">
  @card("manage")
  @card("editor")
  @card("charting")
  @card("plan")
  @card("graphql")
  @card("schema")
  @card("responsive")
  @card("databases")
  @card("filter")
  @card("history")
</div>
