@()<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Features</span>
        <ul>
          <li>Saved queries</li>
          <li>Editor autocomplete</li>
          <li>Tabbed interface</li>
          <li>Details of tables, views, and procedures</li>
          <li>Link to related tables</li>
          <li>Permissions for databases and queries</li>
          <li>Material design</li>
          <li>Responsive design with mobile support</li>
          <li>Supports H2, MySQL, Oracle, PostgreSQL, and SQL Server</li>
          <li>Locally installed application</li>
          <li>No ads, trackers or third-party sites</li>
          <li>View columns, indexes, key</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
