@()(implicit messages: Messages)
@card(k: String) = {
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a class="modal-trigger" href="#@k" onclick="$('#modal-@k').openModal();return false;"><img src="@routes.Assets.versioned(s"/images/screenshot/$k.png").url" style="min-height: 190px;"></a>
      </div>
      <div class="card-content">
        <strong>@messages("features." + k + ".title")</strong>
        <p>@messages("features." + k + ".content")</p>
      </div>
    </div>
  </div>

  <div id="modal-@k" class="modal">
    <div class="modal-content">
      <h4>@messages("features." + k + ".title")</h4>
      <img src="@routes.Assets.versioned(s"/images/screenshot/$k.png").url" style="width: 100%;">
      <p>@messages("features." + k + ".content")</p>
    </div>
  </div>
}

<div class="row features-container">
  @card("manage")
  @card("editor")
  @card("charting")
  @card("plan")
  @card("graphql")
  @card("schema")
  @card("responsive")
  @card("databases")
  @card("filter")
  @card("history")
</div>
