@()(implicit messages: Messages)<div class="row">
  <div class="col s12">
    <div>@messages("license.title")</div>
  </div>
  <div class="col s12 l4" style="margin-top: 10px;">
    <div class="z-depth-1">
      <table>
        <tbody>
          <tr>
            <td style="text-align: center;">
              <a class="theme-text" href="@controllers.routes.UserLicenseController.requestForm()">@messages("license.non.commercial")</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 l4" style="margin-top: 10px;">
    <div class="z-depth-1">
      <table>
        <tbody>
          <tr>
            <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.PurchaseController.pricingPersonal()">@messages("license.personal")</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 l4" style="margin-top: 10px;">
    <div class="z-depth-1">
      <table>
        <tbody>
          <tr>
            <td style="text-align: center;"><a class="theme-text" href="@controllers.routes.PurchaseController.pricingTeam()">@messages("license.team")</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
