@()(implicit messages: Messages)

@section(edition: licensing.LicenseEdition, cta: String, call: Call) = {
  <div class="col s12 m6" style="margin-top: 10px;">
    <div class="z-depth-1 license-pitch">
      <strong>@edition.title</strong>
      <a class="cta theme-text" href="@call">@cta</a>
    </div>
  </div>
}

<div class="row">
  @section(licensing.LicenseEdition.Personal, messages("license.personal"), routes.PurchaseController.pricingPersonal())
  @section(licensing.LicenseEdition.Team, messages("license.team"), routes.PurchaseController.pricingTeam())
</div>
