@()<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Newsletter</span>
        <div class="row" style="margin-top: 16px;">
          <div class="col s12">
            <div class="z-depth-1">
              <table>
                <tbody>
                  <tr>
                    <td style="text-align: center;">
                      <form action="@controllers.routes.NewsletterController.signup()" method="post">
                        <div class="row">
                          <div class="input-field col s12 m6 offset-m3">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">Email</label>
                            <button class="btn theme" type="submit">Subscribe</button>
                          </div>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
