@()<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Words about Database Flow</span>
        <ul class="collection">
          <li class="collection-item">
            Here's some words about Database Flow, maybe a slogan or something.
          </li>
          <li class="collection-item">
            An opinionated modern database interface.
          </li>
          <li class="collection-item">
            Running locally or on a shared server, Database Flow helps you discover and search your database from a browser.
          </li>
          <li class="collection-item">
            Database Flow is self hosted, so your data always remains private.
          </li>
          <li class="collection-item">
            The big advantages DBF has over it's competition:
            <ul>
              <li>- Installed locally or on a server, DBF doesn't need internet access.</li>
              <li>- Websocket-driven communications, for zero-latency and persistent connections.</li>
              <li>- Full retina support, and a Material Design implementation that scales from a phone to dual 4K monitors.</li>
              <li>- Supports the most popular half dozen databases, and adding more is easy (for me).</li>
              <li>- Explain plan is visualized in a pretty novel way.</li>
              <li>- Uses the best charting library, webgl/svg support.</li>
            </ul>
          </li>
          <li class="collection-item">
            Database Flow was created by a solo developer.
            I'm always looking for new ways to improve the product, and would love any feedback you can provide.
          </li>
          <li class="collection-item">
            Marketing is my Achilles' heel, so I'd particularly love some input on how to effectively sell and market Database Flow.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
