@(e: utils.SiteEngine, isAdmin: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(title = utils.Config.projectName, section = "features", isAdmin = isAdmin) {
  @views.html.layout.hero(
    title = messages("database.hero.title", utils.Config.projectName, e.title),
    subtitle = messages(s"database.${e.title.toLowerCase}.subtitle", utils.Config.projectName, e.title)
  )
  <div class="container">
    @views.html.content.features()
  </div>
}
