@(isAdmin: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(title = utils.Config.projectName, section = "download", isAdmin = isAdmin) {
  @views.html.layout.hero(
    title = messages("downloads.hero.title", utils.Config.projectName),
    subtitle = messages("downloads.hero.subtitle1", utils.Config.projectName),
    showButtons = false
  )
  <div class="container">
    @views.html.content.downloads()
    @views.html.content.license()
  </div>
}
