@(isAdmin: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(title = utils.Config.projectName, section = "index", isAdmin = isAdmin) {
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">@utils.Config.projectName Marketing Site</span>
          <p>@messages("index.welcome", utils.Config.projectName)</p>
        </div>
      </div>
    </div>
  </div>

  @views.html.content.demo()
  @views.html.content.downloads()
  @views.html.content.license()
  @views.html.content.otherActions()
  @views.html.content.features()
  @views.html.content.comparison()
  @views.html.content.competition()
  @views.html.content.newsletter()
}
