@(isAdmin: Boolean)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)
@views.html.layout.simple(utils.Config.projectName + " Privacy Policy", "", isAdmin = isAdmin) {
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">@utils.Config.projectName Privacy Policy</span>
          <div class="row">
            <div class="col s12" style="padding-top: 20px;">
              This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online.
              PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context.
              Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
            </div>
            <div class="col s12">
              <ul class="collection">
                <li class="collection-item">
                  <strong>What personal information do we collect from the people that visit our website?</strong>
                  <p>We do not collect information from visitors of our site.</p>
                </li>
                <li class="collection-item">
                  <strong>Do we use 'cookies'?</strong>
                  <p>We do not use cookies for tracking purposes.</p>
                </li>
                <li class="collection-item">
                  <strong>Third-party disclosure</strong>
                  <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
                </li>
                <li class="collection-item">
                  <strong>Third-party links</strong>
                  <p>We do not include or offer third-party products or services on our website.</p>
                </li>
                <li class="collection-item">
                  <strong>According to CalOPPA, we agree to the following:</strong>
                  <p>Users can visit our site anonymously.</p>
                  <p>Our Privacy Policy link includes the word 'Privacy' and can be easily be found on the page specified above.</p>
                </li>
                <li class="collection-item">
                  <strong>How does our site handle Do Not Track signals?</strong>
                  <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
                </li>
                <li class="collection-item">
                  <strong>Does our site allow third-party behavioral tracking?</strong>
                  <p>It's also important to note that we do not allow third-party behavioral tracking.</p>
                </li>
                <li class="collection-item">
                  <strong>COPPA (Children Online Privacy Protection Act)</strong>
                  <p>We do not specifically market to children under the age of 13 years old.</p>
                </li>
                <li class="collection-item">
                  <strong>Contacting Us</strong>
                  <p>If there are any questions regarding this privacy policy, you may contact us at the following:</p>
                  <ul>
                    <li><a class="theme-text" href="https://databaseflow.com">https://databaseflow.com</a></li>
                    <li><a class="theme-text" href="mailto:support@@databaseflow.com">support@@databaseflow.com</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="theme-text" href="@controllers.routes.SiteController.index()">@messages("general.back")</a>
        </div>
      </div>
    </div>
  </div>
</div>
}
