@()(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)

@card(img: String, title: String)(content: Html) = {
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="@img" style="min-height: 190px;">
        <span class="card-title">@title</span>
      </div>
      <div class="card-content">@content</div>
    </div>
  </div>
}

@layout.simple(utils.Config.projectName, "index") {
  <div class="theme">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="hero white-text">
            <h4>The best way to query and visualize your database.</h4>
            <p>@utils.Config.projectName is a self-hosted collaborative SQL client and charting application that works with your database.</p>
            <p>You can run @utils.Config.projectName locally for your own use, or install to a shared server for the whole team.</p>
            <div class="hero-links">
              <a href="" class="index-button btn white theme-text">Download</a>
              <a href="" class="index-button btn white theme-text license-link">Get a License</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row features-container">
        @card("http://lorempixel.com/1280/720/nature/8", "Card Title") { <p>
          Database Flow is self-hosted, so your data always remains private.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/7", "Card Title") { <p>
          Syntax highlighting and auto-completion make writing complicated queries easy.
          Use query parameters to help others use your shared SQL.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/6", "Card Title") { <p>
          We use <a href="https://plot.ly/javascript/" class="theme-text">plotly.js</a> to bring you the best charts available on any platform.
          Share charts and results with ease, and save queries for later use.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/5", "Card Title") { <p>
          Query history and audit logs ensure you never forget the queries you write.
          Granular permissions help you share databases and results with your team.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/4", "Card Title") { <p>
          High definition retina graphics and a responsive interface help you navigate your data on any device.
          Hotkeys and shortcuts increase your productivity.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/3", "Card Title") { <p>
          Database Flow supports the most popular databases, and provides features that help you make the most of your data.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/2", "Card Title") { <p>
          Sort and filter your results without re-running your SQL query.
          Database Flow helps you drill down to the data you need.
        </p> }
        @card("http://lorempixel.com/1280/720/nature/1", "Card Title") { <p>
          Explain plan
        </p> }
      </div>
    </div>
  </div>
}
