@(isAdmin: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(title = utils.Config.projectName, section = "versions", isAdmin = isAdmin) {
  <div class="theme">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="hero white-text">
            <h4>@messages("versions.hero.title", utils.Config.projectName)</h4>
            <p>@messages("versions.hero.subtitle1", utils.Config.projectName)</p>
            <p>@messages("versions.hero.subtitle2", utils.Config.projectName)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    @views.html.content.comparison()
    @views.html.content.license()
  </div>
}
