@(user: Option[models.user.User], debug: Boolean, activity: Seq[models.audit.AuditRecord], userService: services.user.UserSearchService)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.admin(user, "activity", messages("admin.activity.title"), debug = debug) {
  <div class="card-content">
    <div class="card-title"><i class="fa @models.template.Icons.cache"></i> @messages("admin.activity.title")</div>

    <div class="row">
      <div class="col s12">
      @if(activity.isEmpty) {
        <div style="padding: 10px;">No activity recorded in database.</div>
      } else {
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Type</th>
              <th>Owner</th>
              <th>Connection</th>
              <th>Status</th>
              <th>Rows</th>
              <th>Elapsed</th>
              <th>Occurred</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          @activity.map { a =>
            <tr>
              <td><i class="fa @a.auditType.icon"></i></td>
              <td>@a.auditType.title</td>
              <td>@a.owner.map { o =>
                <a href="@controllers.admin.routes.UserController.view(o)">@userService.retrieve(o).map(_.username)</a>
              }.getOrElse("Guest")</td>
              <td title="@a.connection">@a.connection.map { c =>
                <a href="@routes.ConnectionSettingsController.editForm(c)">@services.connection.ConnectionSettingsService.getById(c).map(_.name)</a>
              }.getOrElse("N/A")</td>
              <td>@a.status</td>
              <td>@a.rowsAffected.map(utils.NumberUtils.withCommas)</td>
              <td>@if(a.elapsed > 0) {
                @utils.NumberUtils.withCommas(a.elapsed)ms
              }</td>
              <td>@utils.DateUtils.fromMillis(a.occurred).toString("yyyy-MM-dd HH:mm:ss")</td>
              <td>
                <a href="@controllers.admin.routes.ActivityController.removeAudit(a.id)"><i class="fa @models.template.Icons.close"></i></a>
              </td>
            </tr>
            @a.sql.map { s =>
              <tr>
                <td colspan="8"><code>SQL: @s</code></td>
              </tr>
            }
            @a.error.map { e =>
              <tr>
                <td colspan="8"><code>Error: @e</code></td>
              </tr>
            }
          }
          </tbody>
        </table>
      }
    </div>
  </div>
  <div class="card-action">
    <a class="theme-text" href="@controllers.routes.HomeController.index()">Back to Connection List</a>
  </div>
}
