@(user: models.user.User, showMenu: Boolean = false, activeSection: Option[String] = None)(implicit messages: Messages)
<header>
  <nav class="@user.preferences.theme lighten-2">
    <a href="@routes.HomeController.index()" class="brand-logo center">@utils.Config.projectName</a>

    @if(showMenu) {
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id="query-menu-option"@if(activeSection.contains("query")) { class="active" }><a href="">Query</a></li>
      <li id="explore-menu-option"@if(activeSection.contains("explore")) { class="active" }><a href="">Explore</a></li>
      <li id="manage-menu-option"@if(activeSection.contains("manage")) { class="active" }><a href="">Manage</a></li>
    </ul>
    }

    <ul id="slide-out" class="side-nav">
      <li><a href="@routes.HomeController.index()" class="waves-effect waves-light">Databases</a></li>
      @services.sandbox.SandboxTask.all.map { st =>
        <li><a href="@routes.SandboxController.sandbox(st.id)" class="waves-effect waves-light">@st.name</a></li>
      }
      <li><a href="@routes.HomeController.index()" class="waves-effect waves-light">Status</a></li>
      <li><a href="#" class="waves-effect waves-light">Stuff</a></li>
    </ul>

    <a href="#" data-activates="slide-out" id="nav-menu-button"><i class="mdi-navigation-menu"></i></a>
  </nav>
</header>
