@(theme: String, activeSection: String)(implicit messages: Messages)
<header>
  <nav class="@theme lighten-2">
    <a href="#" class="brand-logo center">@utils.Config.projectName</a>

    <ul id="slide-out" class="side-nav">
      <li><a href="#" class="waves-effect waves-light">First Link</a></li>
      <li><a href="#" class="waves-effect waves-light">Second Link</a></li>
      <li><a href="#" class="waves-effect waves-light">Third Link</a></li>
      <li><a href="#" class="waves-effect waves-light">Fourth Link</a></li>
      <li><a href="#" class="waves-effect waves-light">Fifth Link</a></li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</header>
