@(user: Option[models.user.User], title: String, debug: Boolean)(content: Html)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.materialize(user, title, debug = false) {
  <header>
    @views.html.layout.themeStyles(user.map(_.preferences.theme).getOrElse("blue-grey"))

    @views.html.components.userDropdown(user)

    <nav id="topnav" class="@user.map(_.preferences.theme).getOrElse("blue-grey") lighten-2">
      <a href="@routes.HomeController.index()" class="brand-logo center">@utils.Config.projectName</a>
      <ul class="right hide-on-small-only">
        <li><a class="dropdown-button" href="#" data-activates="dropdown-user">
          @user.flatMap(_.username).getOrElse("Guest") <i id="user-dropdown-toggle" class="fa @models.template.Icons.dropdownToggle right"></i>
        </a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="static-container container">
      <div class="row">
        @content
      </div>
    </div>
  </main>

  <footer class="page-footer @user.map(_.preferences.theme).getOrElse("blue-grey") lighten-2">
    <div class="footer-copyright">
      @messages("static.copyright")
      <a class="grey-text text-lighten-4 right" href="http://databaseflow.com">About</a>
    </div>
  </footer>
}
