// General Styles
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin: 0;
  padding: 0;
  .footer-copyright {
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    background-color: transparent;
    a {
      margin-left: 12px;
    }
  }
}

.theme {
  background-color: #607d8b !important;
}
.theme-text {
  color: #607d8b !important;
}
a.theme-text:hover {
  color: #999 !important;
}

// Navbar
.nb-container {
  height: 48px;
}

#topnav {
  height: 48px;
  line-height: 48px;

  .brand-title {
    font-size: 1.6rem;
    font-weight: 300;

    &.center {
      margin: 0;
    }

    i {
      height: 48px;
      line-height: 48px;
    }
  }
}

// Panels
.card {
  .card-content {
    .card-title {
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  .card-action {
    .btn .btn-flat {
      cursor: pointer;
      &:hover {
        color: #888;
      }
    }
    a, button {
      text-transform: none !important;
    }
  }
}

.btn, .btn-flat {
  text-transform: none !important;
}

.flash-error, .flash-success {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-error {
  background-color: #ffffff;
  color: #8b0000;
}

.coming-soon {
  text-align: center;
}

.download-section {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.padded-top {
  margin-top: 16px;
}

.flash {
  margin: 20px 10px 10px 10px;
  padding: 20px;
}

// Logos
.logo {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

// License Pages
.license-content-textarea {
  white-space: pre-wrap;
  text-wrap: normal;
  word-break: break-all;
  border: 0;
  height: 160px;
  margin: 0;
}

.license-table {
  margin-bottom: 15px;
  th, td {
    padding: 15px;
  }
}

.license-pitch {
  padding: 12px;
  text-align: center;
  strong {
    display: block;
  }
}

// Forms
.input-field label {
  color: #000;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
  color: #607d8b;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid #607d8b;
  box-shadow: 0 1px 0 0 #607d8b;
}
.input-field .prefix.active {
  color: #607d8b;
}

.dropdown-content.select-dropdown span {
  color: #607d8b !important;
}

// Helper Classes
.initially-hidden {
  display: none;
}

.clear {
  clear: both;
}

.black {
  background-color: #555 !important;
}

.pre-wrap {
  white-space: pre-wrap;
  font-family: 'roboto-mono';
}

// Index
.hero {
  text-align: center;
  padding: 20px 0;
  .hero-links {
    margin: 30px 0 20px 0;
    .index-button {
      width: 160px;
    }
    .license-link {
      margin-left: 20px;
    }
  }
}

.features-container .card-content {
  min-height: 146px;
}

@media only screen and (max-width: 992px) {
  .features-container .card-content {
    min-height: 188px;
  }
}
