// General Styles
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
}

main {
  flex: 1 0 auto;
  .static-container {
    margin-top: 16px;
  }
}

footer.page-footer {
  margin: 0;
  padding: 0;
  .footer-copyright {
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
  }
}

.theme {
  background-color: #607d8b !important;
}
.theme-text {
  color: #607d8b !important;
}
a.theme-text:hover {
  color: #999 !important;
}


// Navbar
.nb-container {
  height: 48px;
}

#topnav {
  height: 48px;
  line-height: 48px;

  .brand-logo {
    font-size: 1.6rem;
    font-weight: 300;

    &.center {
      margin: 0;
    }

    i {
      height: 48px;
      line-height: 48px;
      margin-right: 6px;
    }
  }
}

// Panels
.card {
  .card-content {
    .card-title {
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  .card-action {
    .btn .btn-flat {
      text-transform: none !important;
      cursor: pointer;
      &:hover {
        color: #888;
      }
    }
  }
}

.flash-error, .flash-success {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-error {
  background-color: #ffffff;
  color: #8b0000;
}

.coming-soon {
  text-align: center;
}

// License Pages
.license-content-pre {
  white-space: pre-wrap;
  text-wrap: normal;
  word-break: break-all;
  padding: 10px;
}

// Helper Classes
.initially-hidden {
  display: none;
}

.black {
  background-color: #555 !important;
}

.pre-wrap {
  white-space: pre-wrap;
  font-family: 'roboto-mono';
}
