<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="20fcf094-aeb0-4d6d-a01f-43229ba65141" Name="databaseflow" 
             Language="1033" Version="1.0.0"
             Manufacturer="Kyle Unverferth" 
             UpgradeCode="226e911b-db10-479f-898f-f9c5b1f57b30">
        <Package Description="Database Flow helps you do all sorts of cool stuff with your database." Comments="None"
                 InstallerVersion="200" Compressed="yes"
                 InstallScope="perMachine" Platform="x64"/>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

        <!-- We use RemoveFolderEx to ensure application folder is fully 
             removed on uninstall. Including files created outside of MSI
             after application had been installed (e.g. on AU or user state).
             
             Hovewer, RemoveFolderEx is only available in WiX 3.6, 
             we will comment it out if we running older WiX.

             RemoveFolderEx requires that we "remember" the path for uninstall.
             Read the path value and set the APPLICATIONFOLDER property with the value.
        -->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\Kyle Unverferth\databaseflow" 
                            Root="HKLM" Type="raw" 
                            Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
        </Property>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="CleanupMainApplicationFolder" Guid="*" Win64="yes">
                <RegistryValue Root="HKLM"
                                   Key="SOFTWARE\Kyle Unverferth\databaseflow"
                                   Name="Path" Type="string" Value="[APPLICATIONFOLDER]"
                                   KeyPath="yes" />
                <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
                     will not remove on "install". But only if WiX 3.6 is used. -->
                <!--     
                  <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
                -->
            </Component>
        </DirectoryRef>        
        <?include bundle.wxi ?>
     <UI/>


        <Icon Id="DesktopIcon.exe" SourceFile="databaseflow.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="databaseflow.ico" />

    </Product>
</Wix>
