.table-options {
  .section-content {
    padding: 5px 20px 10px 20px;
  }
}

.help-panel {
  padding: 10px 20px;
  margin-top: 20px;
}

#tip-detail {
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
}
