main.indent {
  padding-left: 242px;
}

main.margin {
  margin-top: 50px;
}

.tab-container.indent {
  padding-left: 240px;
  position: fixed;
  top: 48px;
  z-index: 100;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  main.indent, .tab-container.indent {
    padding-left: 0;
  }
}


#workspace {
  padding-top: 0.75rem;
  .row {
    margin-bottom: 0;
  }
}

.workspace-panel {
  margin-left: 0;
  .unsaved-status {
    display: none;
    color: #94a0b4;
    cursor: default;
  }
}

.progress-panel {
  padding: 12px;
  border-top: 1px solid #ddd;
}

.title-icon {
  margin-right: 6px;
  width: 24px;
}

#tx-panel {
  background-color: #ffffff;
  height: 48px;
  //border-bottom: 1px solid rgba(160,160,160,0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);

  #commit-button, #rollback-button {
    display: inline-block;
    margin: 14px;
  }

  #tx-status-msg {
    float: right;
    text-align: center;
    margin: 14px;
    color: #777777;
  }
}

#row-update-modal {
  .row-update-error {
    color: darkred;
  }

  #row-update-error-general {
    top: 40px;
    right: 38px;
  }

  .row-update-container {
    margin-top: 20px;
  }

  td.use-toggle {
    label {
      margin-top: -8px;
    }
    width: 36px;
  }

  td, tr {
    padding: 0;
  }
}
