main.indent {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  main.indent {
    padding-left: 0;
  }
}

#workspace {
  padding-top: 0.75rem;
  .row {
    margin-bottom: 0;
  }
}

.workspace-panel {
  margin-left: 4px;
  .unsaved-status {
    display: none;
    color: #94a0b4;
    cursor: default;
  }
}

.title-icon {
  margin-right: 6px;
  width: 24px;
}

.sql-options-panel {
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  border-right: 1px solid rgba(120, 120, 120, 0.2);
  border-bottom: 1px solid rgba(120, 120, 120, 0.2);
  padding: 10px;

  .sql-options-err-status {
    float: right;
    color: #aaaaaa;
  }
}
