.fa-close {
  cursor: pointer;
  color: #999;
  &:hover {
    color: #000;
  }
}

.query-result-sql {
  display: none;
  pre {
    border: 1px solid #ddd;
    padding: 10px;
  }
}

.statement-result-sql {
  pre {
    border: 1px solid #ddd;
    padding: 10px;
  }
}

.query-result-table {
  overflow-x: auto;

  th, td {
    //max-width: 200px;
    //text-overflow: ellipsis;
    white-space: pre;
    padding: 10px;
  }
  td {
    border-left: 1px solid #ddd;

    &:first-child {
      border-left: 0;
    }
  }

  .unsorted-title {
    cursor: default;
  }

  .sorted-title {
    cursor: pointer;
    span {
      margin-right: 12px;
    }
  }

  .sort-icon, .sorted-icon {
    margin-top: 3px;
    cursor: pointer;
  }
  .sort-icon {
    color: white;
  }

  th:hover {
    .sort-icon {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .query-rel-link {
    color: rgba(0, 0, 0, 0.87);
    &:hover {
      color: #ffab40;
    }
    i {
      display: block;
      float: right;
      margin-top: 3px;
    }
    span {
      margin-right: 12px;
    }
  }

  .query-rel-title {
    margin-right: 22px;
  }
}

.append-rows-link {
  display: block;
  margin-top: 10px;
}
