.fa-close {
  cursor: pointer;
}

.query-result-table {
  overflow-x: auto;

  th, td {
    //max-width: 200px;
    //text-overflow: ellipsis;
    white-space: pre;
    padding: 10px;
  }
  td {
    border-left: 1px solid #ddd;

    &:first-child {
      border-left: 0;
    }
  }

  .sort-icon {
    float: right;
    margin-top: 3px;
    cursor: pointer;
  }

  .sorted-title {
    margin-right: 10px;
  }
}
