body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.clear {
  clear: both;
}

// Side Nav
nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
}

ul.side-nav {
  overflow: hidden;

  li {
    line-height: 44px;
    padding: 0;

    a {
      padding: 0 30px;
      font-size: 13px;
      line-height: 44px;
      height: 44px;
    }
  }

  ul.collapsible-accordion {
    background-color: #FFF;
  }

  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }
}

#nav-menu-button {
  height: 64px;
  line-height: 64px;
  margin-left: 10px;
  float: left;
  position: relative;
  z-index: 1;

  i {
    height: 64px;
    line-height: 64px;
    font-size: 2.7rem;
  }
}

@import url(_sqleditor.less);
@import url(_queryplan.less);

// Footer
footer.page-footer {
  margin: 0;
  padding: 0;
  .footer-copyright {
    padding: 0 10px;
  }
}
