@(user: models.user.User, debug: Boolean, connections: Seq[models.flow.Connection])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
) @layout.materialize(utils.Config.projectName) {
  <header>
    <nav class="@user.preferences.theme lighten-2">
      <a href="@routes.HomeController.index()" class="brand-logo center">@utils.Config.projectName</a>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="row">
        @connections.map { c =>
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-content">
                <h4 class="truncate">@c.name</h4>
                <p class="truncate">@c.id</p>
              </div>
              <div class="card-action">
                <a href="@routes.QueryController.main(c.id)">Query</a>
                <a href="@routes.QueryController.view(c.id)">Explore</a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </main>

  <footer class="page-footer @user.preferences.theme lighten-2">
    <div class="footer-copyright">
      © 2016 Kyle Unverferth
      <a class="grey-text text-lighten-4 right" href="http://databaseflow.com">About</a>
    </div>
  </footer>

  <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.min.js")"></script>
}
