@(user: models.user.User, connections: Seq[models.connection.ConnectionSettings])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(Some(user), utils.Config.projectName) {
  <div class="row">
    @views.html.components.motd()
    <div class="col s12">
      <div class="panel-content">
        @if(connections.isEmpty) {
          <div class="no-connections">
            @messages("index.no.connections")
            Or, <a class="theme-text" href="@controllers.connection.routes.ConnectionSettingsController.createSample()">create a sample database</a>.
          </div>
        } else {
          <div>@views.html.connection.list(user, connections)</div>
        }
      </div>
      <div class="panel-action">
        @defining(models.user.Role.withName(services.settings.SettingsService(models.settings.SettingKey.AddConnectionRole))) { addConnectionRole =>
          @if(user.role.qualifies(addConnectionRole)) {
            <a class="theme-text" href="@controllers.connection.routes.ConnectionSettingsController.addNew()">@messages("index.new.connection")</a>
          }
        }
        @if(user.role == models.user.Role.Admin) {
          <a class="right-link theme-text" href="@controllers.admin.routes.AdminController.index()">@messages("admin.title")</a>
        }
      </div>
    </div>
  </div>
}
