@(user: models.user.User, connections: Seq[models.connection.ConnectionSettings])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(Some(user), utils.Config.projectName) {
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">@utils.Config.projectName</span>
          <p>@messages("index.welcome", utils.Config.projectName)</p>

          @if(connections.isEmpty) {
            <div>@messages("index.no.connections")</div>
          } else {
            <div>@views.html.connection.list(user, connections)</div>
          }
        </div>
        <div class="card-action">
          @defining(models.user.Role.withName(services.settings.SettingsService(models.settings.SettingKey.AddConnectionRole))) { addConnectionRole =>
            @if(user.role.qualifies(addConnectionRole)) {
              <a class="theme-text" href="@controllers.routes.ConnectionSettingsController.addNew()">@messages("index.new.connection")</a>
            }
          }
          @if(user.role == models.user.Role.Admin) {
            <a class="right-link theme-text" href="@controllers.admin.routes.AdminController.index()">@messages("admin.title")</a>
          }
        </div>
      </div>
    </div>
  </div>
}
