@(user: models.user.User, debug: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.simple(user, utils.Config.projectName, debug = debug) {
  <form action="" method="post">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            @defining(user.username.orElse(user.profiles.headOption.map(_.providerKey)).getOrElse("Guest")) { username =>
              <input id="input-username" type="text" class="form-control validate" name="username" value="@username" />
              <label for="input-username">@Messages("profile.form.username")</label>
            }
          </div>
        </div>
        <input id="input-theme" type="hidden" class="" name="theme" value="@user.preferences.theme" />
        <label for="input-theme">@Messages("profile.form.theme")</label><br/>
        <div id="theme-choices">
          @models.user.Themes.all.map { t =>
            <div id="swatch-@t._1" class="swatch z-depth-1" data-name="@t._1" data-color="@t._2" style="background-color : @t._2;">
              <i class="indicator fa fa-check white-text"></i>
            </div>
          }
        </div>
      </div>
      <div class="card-action">
        <button class="right btn-flat waves-effect waves-light" type="submit">@Messages("profile.save")</button>
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>
  </form>

  <script>
    $(function() {
      var activeSwatch = '@user.preferences.theme';
      $(".swatch").click(function(e) {
        var el = $(e.currentTarget);
        var newSwatch = el.data('name');
        var newColor = el.data('color');
        $('#swatch-' + activeSwatch).removeClass('active');
        el.addClass('active');

        $('footer, nav').removeClass(activeSwatch).addClass(newSwatch);
        $('#input-theme').val(newSwatch);
        $('#favicon-link').attr('href', '/assets/images/ui/favicon/icon-' + newSwatch + '@@2x.png');
        activeSwatch = newSwatch;
      });
      $('#swatch-' + activeSwatch).addClass('active');
    });
  </script>
}
