@(
    user: models.user.User,
    debug: Boolean,
    activity: Seq[models.audit.AuditRecord],
    orderBy: Option[(String, Boolean)],
    limit: Int,
    offset: Int,
    removeCall: Option[(java.util.UUID) => Call]
)(implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages)@layout.simple(
  Some(user),
  messages("activity.profile.title"),
  debug = debug,
  scripts = Seq(routes.Assets.versioned("lib/momentjs/min/moment.min.js").url)
) {
  <div class="row">
    <div class="col s12 card">
      <div class="card-content">
        <div class="right">
          <a class="theme-text" href="@controllers.routes.UserActivityController.removeAllAudits()" onclick="return confirm('@messages("activity.confirm.remove.user")');">
            @messages("activity.remove.all")
          </a>
        </div>
        <div class="card-title"><i class="fa @models.template.Icons.cache"></i> @messages("activity.profile.title")</div>
        <div class="row">
          <div class="col s12">
          @if(activity.isEmpty) {
            <div style="padding: 10px;">@messages("activity.no.results")</div>
          } else {
            @views.html.activity.listTable(activity, orderBy, removeCall, None)
          }
          </div>
        </div>
      </div>
      <div class="card-action">
        <a class="theme-text" href="@controllers.routes.HomeController.home()">@messages("general.back.title")</a>
        @if(activity.size == limit) {
          <a class="right-link theme-text load-more-link" href="@controllers.routes.UserActivityController.activity(limit, offset + limit)">
            @messages("activity.load.more", limit)
          </a>
        }
      </div>
    </div>
  </div>
  @views.html.activity.listScript()
}
