@(id: java.util.UUID, from: String, content: String, occurred: org.joda.time.LocalDateTime)<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
  <body>
    <div style="margin: 20px;">
      <div>
        Received new feedback.
      </div>
      <div>
        <ul>
          <li>ID: @id</li>
          <li>Email: @from</li>
          <li>Created: @occurred</li>
        </ul>
      </div>
      <div>
        <pre style="margin: 20px; padding: 20px; border: 1px solid #333333;">@content</pre>
      </div>
    </div>
  </body>
</html>
