@(id: java.util.UUID, name: String, email: String, edition: String, issued: Long, version: Int, content: String)<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
  <body>
    <div style="margin: 20px;">
      <div>
        @name, you're now the proud owner of a @utils.Config.projectName @edition license.
      </div>
      <div>
        <div>Here's your license. Please keep it to yourself.</div>
        <pre style="margin: 20px; padding: 20px; border: 1px solid #333333;">@content</pre>
      </div>
    </div>
  </body>
</html>
